<div class="container">
  <div id="header_container">
    <img
      id="header_logo"
      src="../../../assets/What_is_logo.png"
      alt="what is competition grade"
    />
    <p id="explanation_paragraph">
      Blends and mixtures are specifically crafted to meet the demands of the
      highest-level athletic surfaces in the world. Each contains varieties
      chosen for attributes that will aid in quick self-repair, fast
      establishment, early spring green-up, high wear tolerance and active cool
      weather growth. To avoid planting tomorrow’s problems today, the
      performance-tested genetics present in Competition Grade blends and
      mixtures should be your only option.
    </p>
  </div>
  <div id="image_container">
    <mat-grid-list rowHeight="fit" cols="3" gutterSize="6px">
      <mat-grid-tile rowspan="1" colspan="1">
        <img
          id="first_image"
          src="../../../assets/soccer_ball_1000x1000.png"
          alt="splash"
      /></mat-grid-tile>
      <mat-grid-tile rowspan="1" colspan="1">
        <img
          id="second_image"
          src="../../../assets/baseball_1500x1000.png"
          alt="splash"
      /></mat-grid-tile>
      <mat-grid-tile rowspan="1" colspan="1">
        <img
          id="third_image"
          src="../../../assets/football_1500x1000.png"
          alt="splash"
      /></mat-grid-tile>
    </mat-grid-list>
  </div>
  <div id="header_two_container">
    <p id="explanation_two_paragraph">
      Blends and mixtures are specifically crafted to meet the demands of the
      highest-level athletic surfaces in the world. Each contains varieties
      chosen for attributes that will aid in quick self-repair, fast
      establishment, early spring green-up, high wear tolerance and active cool
      weather growth. To avoid planting tomorrow’s problems today, the
      performance-tested genetics present in Competition Grade blends and
      mixtures should be your only option.
    </p>
    <img
      id="header_two_logo"
      src="../../../assets/Why_need_logo.png"
      alt="what is competition grade"
    />
  </div>
  <div id="image_two_container">
    <mat-grid-list rowHeight="fit" cols="3" gutterSize="0px">
      <mat-grid-tile rowspan="1" colspan="1">
        <img src="../../../assets/perennial_ryegrass_seed_bg.png" alt="splash"
      /></mat-grid-tile>
      <mat-grid-tile rowspan="1" colspan="1">
        <img src="../../../assets/perennial_ryegrass_seed_bg.png" alt="splash"
      /></mat-grid-tile>
      <mat-grid-tile rowspan="1" colspan="1">
        <img src="../../../assets/perennial_ryegrass_seed_bg.png" alt="splash"
      /></mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
