.page_container {
  background: white;
}

#desc_list {
  display: flex;
  width: 100%;
  margin: 1em auto 1em auto;
  /* border: 2px solid red; */
}

#desc_tile {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
}
.explanation_paragraph {
  padding: 3em;
  margin: 0;
  font-size: 1.25em;
  /* border: 2px solid blue; */
  text-align: center;
}

.explanation_paragraph span {
  display: block;
  font-weight: 600;
  margin-bottom: 6px;
  font-size: 1.25em;
}

#usage_by_sport_container {
  margin: 1em 0 1em 0;
  height: auto;
}

#usage_list {
  margin: 0;
  width: 70%;
  margin: 0 auto 0 auto;
  background: black;
  border: 1px solid red;
}

#usage_list img {
  width: 100%;
  height: 20%;
  object-fit: contain;
  cursor: pointer;
}

#usage_list p {
  width: 100%;
  margin: 0;

  padding: 2em;
  font-size: 1.25em;
}

#image_container {
  height: 250px;
  width: 70%;
  margin: 0 auto 0 auto;
}

#image_container img {
  width: 100%;
  height: 100%;
  object-position: 0 0;
  object-fit: cover;
}

#image_container img#first_image {
  object-position: 0px 0px;
}

#image_container img#second_image {
  object-position: 0px 0px;
}
#image_container img#third_image {
  object-position: 0px 0px;
}

.flex {
  display: flex;
}

.col-3 {
  padding: 0;
  flex-grow: 1;
  flex-basis: calc(100% / 3);
}

.textBox {
  background: var(--cg_silver);
  color: black;
}
