.page_container {
  background: white;
}

#desc_list {
  display: flex;
  width: 100%;
  margin: 1em auto 1em auto;
  /* border: 2px solid red; */
}

#desc_tile {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
}
.explanation_paragraph {
  padding: 3em;
  margin: 0;
  font-size: 1.25em;
  /* border: 2px solid blue; */
  text-align: center;
}

.explanation_paragraph span {
  display: block;
  font-weight: 600;
  margin-bottom: 6px;
  font-size: 1.25em;
}

#series_application_section_container {
  width: 100%;
  /* border: 2px solid blue; */
}

.flex {
  display: flex;
}

.flex-c {
  flex-direction: column;
}

.imageContainer {
  /* border: 2px solid red; */
  height: 300px;
  width: 100%;
  background: black;
}

.seriesImage {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  margin: 0;
}

img[class$="_border"] {
  width: 100%;
  height: 10%;
  object-fit: contain;
  cursor: pointer;
  /* border: 2px solid yellow; */
  margin: 0;
}

#textbox_container {
  background: var(--cg_silver);
}

.textBox {
  color: black;
  height: 40%;
  width: calc(100% / 3);
  padding: 2em;
  font-size: 1.25em;
  margin: 0;
}
