<div class="internal_gridlist">
  <mat-grid-list
    id="distributor_gridlist"
    gutterSize="6px"
    cols="{{ length }}"
    rowHeight="fit"
  >
    <mat-grid-tile
      *ngFor="let distributor of getDistributors()"
      class="distributor_plot"
      rowspan="1"
      colspan="1"
    >
      <div class="distributor_container">
        <a
          href="{{ distributor.websiteUrl }}"
          target="_blank"
          referrerpolicy="no-refer"
          ><img src="{{ distributor.imagePath }}"
        /></a>
      </div>
    </mat-grid-tile>
    <!-- <mat-grid-tile class="distributor_plot" rowspan="1" colspan="1">
      <div class="distributor_container">
        <a
          href="http://bwicompanies.com"
          target="_blank"
          referrerpolicy="no-refer"
          ><img src="../../assets/bwi_logo.png"
        /></a>
      </div>
    </mat-grid-tile>
    <mat-grid-tile class="distributor_plot" rowspan="1" colspan="1">
      <div class="distributor_container">
        <a
          href="http://bwicompanies.com"
          target="_blank"
          referrerpolicy="no-refer"
          ><img src="../../assets/bwi_logo.png"
        /></a>
      </div>
    </mat-grid-tile>
    <mat-grid-tile class="distributor_plot" rowspan="1" colspan="1">
      <div class="distributor_container">
        <a
          href="http://bwicompanies.com"
          target="_blank"
          referrerpolicy="no-refer"
          ><img src="../../assets/bwi_logo.png"
        /></a>
      </div>
    </mat-grid-tile>
    <mat-grid-tile class="distributor_plot" rowspan="1" colspan="1">
      <div class="distributor_container">
        <a
          href="http://bwicompanies.com"
          target="_blank"
          referrerpolicy="no-refer"
          ><img src="../../assets/bwi_logo.png"
        /></a>
      </div>
    </mat-grid-tile>
    <mat-grid-tile class="distributor_plot" rowspan="1" colspan="1">
      <div class="distributor_container">
        <a
          href="http://bwicompanies.com"
          target="_blank"
          referrerpolicy="no-refer"
          ><img src="../../assets/bwi_logo.png"
        /></a>
      </div>
    </mat-grid-tile> -->
  </mat-grid-list>
</div>
