.container {
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background: var(--cg_gold);
  /* background: var(--cg_silver); */
  padding: 0 2em 0 2em;

  color: white;
}

.content_container {
  display: flex;
  align-items: center;
  height: 50%;
}

mat-icon {
  font-size: 2em;
  cursor: pointer;
}

#notice_header {
  width: 15%;
  /* border: 2px solid red; */
  font-size: 1.25em;
  text-align: center;
  font-family: Orbitron;

  text-transform: uppercase;
  font-weight: 800;
}

span {
  margin: 0 1em 0 0.25em;
  color: white;
}
span#seperator {
  display: block;
  height: 100%;
  width: 2px;

  background: white;
}

.container p {
  margin: 0;
  margin-left: 1em;
  /* color: white; */
  font-family: Roboto;
  font-size: 1.1em;
  color: black;
  /* border: 2px solid #ff5722; */
}

#close_button {
  margin-left: 1em;
}
