<mat-toolbar id="header">
    <mat-toolbar-row id="logo_container">
        <a [routerLink]='' id="logo_link">
            <img src="../../assets/Competition_Grade_Logo_Final_ShieldOnly.png" alt="Competition Grade" />
        </a>
        <div id="wm_container">
            <img src="../../assets/Competition_Grade_Logo_Final_WM_only.png" alt="Competition Grade Wordmark" />
        </div>
    </mat-toolbar-row>
    <mat-toolbar-row id="nav_container">
        <nav id="navigation">
            <a>Speed</a>
            <a>Power</a>
            <a>Agility</a>
            <a>Videos</a>
        </nav>
    </mat-toolbar-row>
</mat-toolbar>