* {
    font-family: Orbitron;
    font-size: 1em;
    font-weight: 900;
    text-transform: uppercase;
}

#header {
    background: black;
    height: 20%;
}
#logo_container {
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#logo_link {
    /* border: 2px solid white; */
    display: block;
    height: 100%;
    flex-grow: 1;
    flex-basis: 20%;
}
#logo_link img {
    align-self: flex-start;
    /* border: 2px solid red; */
    height: 100%;
    object-fit: contain;
}
#wm_container {
    display: flex;
    justify-content: flex-end;
    height: 100%;
    /* border: 2px solid white; */
    flex-grow: 1;
    flex-basis: 50%;
}
    
#wm_container img {
    align-self: flex-end;
    height: 100%;
    /* border: 2px solid yellow; */
    object-fit: contain;
}


#nav_container {
   width: 100%;
   display: flex;
   justify-content: flex-start;
}

#navigation {
    width: 60%;
    color: white;
    display: flex;
    justify-content: space-around;
    /* border: 2px solid yellow; */

}
#navigation a {
    /* border: 2px solid red; */
    position: relative;
    max-width: 10%;
    flex-grow: 1;
    flex-basis: 10%;
    text-align: center;
    letter-spacing: .25em;
}
#navigation a:before {
    content: '';
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-top: 5px solid var(--cg_gold);
    transition: opacity 1s ease-in-out;
    opacity: 0;
}
#navigation a:hover:before{
    opacity: 1;
}
#navigation a.active {
    border-top: 5px solid var(--cg_gold);
}