<footer id="footer">
  <div class="internal_gridlist">
    <mat-grid-list
      id="footer_gridlist"
      gutterSize="6px"
      cols="13"
      rowHeight="fit"
    >
      <mat-grid-tile id="company_block" rowspan="1" colspan="1">
        <a href="https://dlfpickseed.com/usa">
          <img
            src="../../assets/Product_of_DLFPickseed.png"
            alt="product of dlf pickseed"
          />
        </a>
      </mat-grid-tile>
      <mat-grid-tile id="distributor_block" rowspan="1" colspan="6">
        <div class="internal_gridlist">
          <mat-grid-list
            id="distributor_gridlist"
            gutterSize="6px"
            cols="6"
            rowHeight="fit"
          >
            <mat-grid-tile class="distributors" colspan="6" rowspan="1"
              >Premium Distribution Partners:</mat-grid-tile
            >
            <mat-grid-tile
              class="distributor_plot"
              rowspan="3"
              colspan="1"
            ></mat-grid-tile>
            <mat-grid-tile
              class="distributor_plot"
              rowspan="3"
              colspan="1"
            ></mat-grid-tile>
            <mat-grid-tile
              class="distributor_plot"
              rowspan="3"
              colspan="1"
            ></mat-grid-tile>
            <mat-grid-tile
              class="distributor_plot"
              rowspan="3"
              colspan="1"
            ></mat-grid-tile>
            <mat-grid-tile
              class="distributor_plot"
              rowspan="3"
              colspan="1"
            ></mat-grid-tile>
            <mat-grid-tile
              class="distributor_plot"
              rowspan="3"
              colspan="1"
            ></mat-grid-tile>
          </mat-grid-list>
        </div>
      </mat-grid-tile>
      <mat-grid-tile rowspan="1" colspan="1">3</mat-grid-tile>
      <mat-grid-tile rowspan="1" colspan="2">4</mat-grid-tile>
      <mat-grid-tile rowspan="1" colspan="2">5</mat-grid-tile>
      <mat-grid-tile rowspan="1" colspan="1">6</mat-grid-tile>
    </mat-grid-list>
  </div>
</footer>
