<footer id="footer">
  <div class="internal_gridlist">
    <mat-grid-list
      id="footer_gridlist"
      gutterSize="6px"
      cols="13"
      rowHeight="fit"
    >
      <mat-grid-tile id="company_block" rowspan="1" colspan="1">
        <a href="https://dlfpickseed.com/usa">
          <img
            src="../../assets/Product_of_DLFPickseed.png"
            alt="product of dlf pickseed"
          />
        </a>
      </mat-grid-tile>
      <mat-grid-tile id="distributor_block" rowspan="1" colspan="6">
        <div class="internal_gridlist">
          <mat-grid-list
            id="distributor_gridlist"
            gutterSize="6px"
            cols="6 "
            rowHeight="fit"
          >
            <!-- <mat-grid-tile class="distributors" colspan="6" rowspan="1">
              <span>Premium Distribution Partners:</span></mat-grid-tile
            > -->
            <mat-grid-tile class="distributor_plot" rowspan="3" colspan="1"
              ><div class="distributor_container">
                <a
                  href="http://tomirwin.com"
                  target="_blank"
                  referrerpolicy="no-refer"
                  ><img src="../../assets/tom_irwin_logo.jpg"
                /></a></div
            ></mat-grid-tile>
            <mat-grid-tile class="distributor_plot" rowspan="3" colspan="1"
              ><div class="distributor_container">
                <a
                  href="http://bwicompanies.com"
                  target="_blank"
                  referrerpolicy="no-refer"
                  ><img src="../../assets/bwi_logo.png"
                /></a></div
            ></mat-grid-tile>
            <mat-grid-tile class="distributor_plot" rowspan="3" colspan="1"
              ><div class="distributor_container">
                <a
                  href="http://bwicompanies.com"
                  target="_blank"
                  referrerpolicy="no-refer"
                  ><img src="../../assets/bwi_logo.png"
                /></a></div
            ></mat-grid-tile>
            <mat-grid-tile class="distributor_plot" rowspan="3" colspan="1"
              ><div class="distributor_container">
                <a
                  href="http://bwicompanies.com"
                  target="_blank"
                  referrerpolicy="no-refer"
                  ><img src="../../assets/bwi_logo.png"
                /></a></div
            ></mat-grid-tile>
            <mat-grid-tile class="distributor_plot" rowspan="3" colspan="1"
              ><div class="distributor_container">
                <a
                  href="http://bwicompanies.com"
                  target="_blank"
                  referrerpolicy="no-refer"
                  ><img src="../../assets/bwi_logo.png"
                /></a></div
            ></mat-grid-tile>
            <mat-grid-tile class="distributor_plot" rowspan="3" colspan="1"
              ><div class="distributor_container">
                <a
                  href="http://bwicompanies.com"
                  target="_blank"
                  referrerpolicy="no-refer"
                  ><img src="../../assets/bwi_logo.png"
                /></a></div
            ></mat-grid-tile>
          </mat-grid-list>
        </div>
      </mat-grid-tile>
      <mat-grid-tile id="verified_seal" rowspan="1" colspan="1">
        <img
          src="../../assets/Competition_Grade_Verified_Seal.png"
          alt="Competition Grade Verified Seal"
        />
      </mat-grid-tile>
      <mat-grid-tile rowspan="1" colspan="2">4</mat-grid-tile>
      <mat-grid-tile rowspan="1" colspan="2">5</mat-grid-tile>
      <mat-grid-tile rowspan="1" colspan="1">
        <img src="../../assets/CompetitionGrade_ChatIcon.png" alt="Chat Icon" />
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</footer>
