:host {
  position: relative;
  background: black;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  width: auto;
  height: auto;
  border-radius: 100%;
  /* border: 2px solid red; */
  background: rgba(255, 255, 255, 0.2);
  transition: transform 500ms ease-in-out;
}

.left {
  left: 50px;
}
.right {
  right: 50px;
}

.circle:hover {
  cursor: pointer;
  filter: drop-shadow(0 0 0.75rem black);
  transform: scale(1.2);
}

mat-icon {
  /* border: 2px solid red; */
  color: var(--cg_gold);
}

.slider_main {
  object-fit: scale-down;
  object-position: center;
  width: 100%;
}
