.internal_gridlist {
  /* background: var(--cg_gold); */
  background: black;
  max-height: 725px;
}

#menu_right_gridlist {
  height: 100%;
  background: black;
}

app-featured-links {
  width: 100%;
  height: 100%;
  background: black;
}

app-featured-video {
  width: 100%;
  height: 100%;
}

#social_gridlist {
  /* border: 2px solid purple; */
  height: 100%;
}

#social_tile .internal_gridlist {
  background: black;
}

.social_grid_twitter {
  /* border-radius: 5px; */
  background: black;
}

.social_grid_instagram {
  /* background: green; */
}

.social_grid_instagram::before {
  content: url("../../../assets/instagram_logo_gold.png");
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: 5px;
  right: 5px;
}

#video_tile {
  background: black;
  /* border: 2px solid red; */
}
#featured_tile {
  background: var(--cg_gold);
  background: white;
  /* border: 2px solid white; */
}
#social_tile {
  background: black;
  /* border: 2px solid blue; */
}
