:host {
  background: black;
}

.internal_gridlist {
  display: flex;
  flex-direction: column;
  padding: 0;
  border-bottom: 1px solid white;
  height: 100%;
  width: 100%;
}
.internal_gridlist_row {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

app-featured-links {
  width: 100%;
  height: 100%;
  background: black;
}

app-featured-video {
  width: 100%;
  height: 100%;
}

app-instagram-feed,
app-twitter-feed {
  width: 100%;
  height: 100%;
}

#social_gridlist {
  /* border: 2px solid purple; */
  height: 100%;
  width: 100%;
}

.social_grid_twitter,
.social_grid_instagram {
  /* border-radius: 5px; */
  position: relative;
  width: 100%;
  height: 100%;
  background: white;
  overflow: hidden;
}

.social_grid_instagram::before {
  content: url("../../../assets/instagram_logo_gold.png");
  width: 30px;
  height: 30px;
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 100;
}

#video_tile {
  background: black;
  height: calc(((100vw / 6) * 2) * 0.5625);
  width: 100%;
  /* border: 2px solid red; */
}
#featured_tile {
  height: calc(((100vw / 6) * 2) * 0.16);
  width: 100%;
  background: var(--cg_gold);
  background: white;
  /* border: 2px solid white; */
}
#social_tile {
  height: calc(((100vw / 6) * 2) * 0.5);
  width: 100%;
  background: black;
  /* border: 2px solid blue; */
}
