<div class="internal_gridlist">
  <mat-grid-list
    id="menu_right_gridlist"
    gutterSize="6px"
    cols="1"
    rowHeight="14:1"
  >
    <mat-grid-tile id="video_tile" rowspan="7">
      <div id="video_container">
        <iframe
          width="100%"
          height="100%"
          [src]="videoUrl"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
    </mat-grid-tile>
    <mat-grid-tile id="featured_tile" rowspan="2">
      <app-featured-links></app-featured-links>
    </mat-grid-tile>
    <mat-grid-tile id="social_tile" rowspan="5">
      <div class="internal_gridlist">
        <mat-grid-list
          id="social_gridlist"
          gutterSize="6px"
          cols="2"
          rowHeight="fit"
        >
          <mat-grid-tile class="social_grid_twitter" rowspan="1">
            <app-twitter-feed></app-twitter-feed>
          </mat-grid-tile>
          <mat-grid-tile class="social_grid_instagram" rowspan="1">
            <app-instagram-feed></app-instagram-feed>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
