<div class="page_container">
  <app-image-header
    image="/assets/{{ product.name }}_logo.jpg"
    backgroundImage="/assets/hands_seed_1500x1000.jpg"
    [backgroundImageStyles]="{ size: 'cover', positionY: -600 }"
  ></app-image-header>
  <div class="content_container">
    <div
      id="description_container"
      [style.padding]="(layoutService.isMobile$ | async) ? '2% 10%' : '1% 30%'"
    >
      <p class="bodyText">
        {{ product.description }}
      </p>
    </div>
    <a href="{{ product.techsheet }}" id="download_button" download>
      <div id="technical_data_link">
        <mat-icon>get_app</mat-icon>
        <p class="mat-body">Technical Data Sheet</p>
      </div>
    </a>
    <div
      id="video_container"
      #vidContainer
      [ngStyle]="{
        height: (layoutService.isDesktop$ | async) ? '800px' : '400px',
        padding: (layoutService.isDesktop$ | async) ? '10%' : '5%'
      }"
    >
      <app-featured-video
        [page]="product.name"
        [autoplayOptions]="{ autoplay: false, runOnce: true }"
      ></app-featured-video>
    </div>
  </div>
</div>
