.content_container {
  margin: 0 auto 0 auto;
}

.page_container {
  background: white;
  height: 100%;
}

.internal_gridlist {
  padding: 0;
}

#description_container {
  width: 100%;
  padding: 5% 10%;
  /* background: var(--cg_gold); */
  color: black;
  margin-top: 6px;
}

#description_container p {
  display: block;
  text-align: left;
  margin-bottom: 0;
}

#technical_data_link {
  width: 100%;
  background: black;
  padding: 1em 0;
}

.content_container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

#video_container {
  /* height: 1000px; */
  padding: 2%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

#video_container::before {
  content: "";
  padding-top: 56.25%;
  float: left;
}

#video_container::after {
  clear: left;
  content: " ";
  display: table;
}

#download_button {
  height: 100%;
  width: 100%;
  margin: auto;
  /* border: 2px solid red; */
  background: black;
  font-weight: 600;
  font-size: 1.5em;
  letter-spacing: 0;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

#matlist {
}
