* {
  font-family: Orbitron;
  font-size: 0.98em;
  font-weight: 900;
  text-transform: uppercase;
  box-sizing: border-box;
}

#footer {
  background: black;
  height: 150px;
  border-top: 6px solid white;
  min-height: 130px;
  background: black;
  padding: 6px;
  color: white;
}

app-distributors {
  height: 100%;
  width: 100%;
}

.internal_gridlist {
  padding-top: 0;
}

#verified_seal img {
  height: 100%;
  object-fit: contain;
}

#company_block {
}

#distributor_block {
  /* border: 2px solid red; */
}

#distributor_info span:hover,
#distributor_portal span:hover {
  cursor: default;
}

#distributor_info_list {
  color: white;
}

#distributor_info_list a {
  color: white;
}

#distributor_info_list a:hover {
  color: var(--cg_silver);
}

#footer_gridlist {
  height: 100%;
}
mat-grid-tile {
  /* border: 2px solid red; */
}

mat-nav-list {
  /* border: 2px solid red; */
  height: 100%;
  width: 100%;
  padding-top: 20px;
  line-height: 1em;
  color: var(--cg_gold);
  /* border: 2px solid red; */
}

mat-nav-list span {
  display: block;
  font-size: 0.7em;
  letter-spacing: var(--lspace);
  margin-bottom: 10px;
  /* border: 2px solid white; */
  text-align: center;
}
mat-nav-list a {
  max-height: 15px;
  font-size: 0.6em;
  color: var(--cg_gold);
  letter-spacing: var(--lspace);
  margin-top: 2px;
  /* border: 2px solid white; */
  margin-left: 25%;
}

:host /deep/ .mat-list-item-content {
  height: 15px !important;
  text-align: center;
}

mat-nav-list a:hover {
  color: var(--cg_silver);
}
