* {
  font-family: Orbitron;
  font-size: 0.98em;
  font-weight: 800;
  text-transform: uppercase;
  box-sizing: border-box;
}

#footer_spacer {
  /* border-top: 2px solid white; */
  height: 150px;
}

#footer {
  background-image: url("/assets/seed_backdrop.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  cursor: context-menu;
}

app-distributors {
  height: 100%;
  width: 100%;
}
app-footer-list {
  height: 100%;
  width: 100%;
  padding-left: 1em;
}

app-footer {
  background: black;
}

app-login {
  height: 100%;
  width: 100%;
}

.internal_gridlist {
  padding-top: 0;
}

#footer_gridlist {
  height: 100%;
}

#chat_block {
  /* border: 2px solid white; */
}

#chat_block:hover {
  cursor: pointer;
}

#chat_block img {
  margin-left: auto;
  margin-right: auto;
  /* border: 2px solid red; */
}
