<mat-toolbar id="header">
  <mat-toolbar-row id="top_designs_container">
    <a routerLink="" id="logo_link">
      <img
        src="/assets/Competition_Grade_Logo_Final.png"
        alt="Competition Grade"
      />
    </a>
  </mat-toolbar-row>
  <mat-toolbar-row id="nav_container" #navigation>
    <div id="tagline_container">
      <img id="tagline" src="/assets/Competition_Grade_Tagline.png" alt="" />
    </div>
    <nav id="navigation_large">
      <a
        [style.font-size]="
          (layoutService.isDesktop$ | async) ? '.8em' : '.65em'
        "
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Home</a
      >

      <app-products-menu
        #productsMenu
        [style.font-size]="
          (layoutService.isDesktop$ | async) ? '.8em' : '.65em'
        "
      ></app-products-menu>

      <a
        [style.font-size]="
          (layoutService.isDesktop$ | async) ? '.8em' : '.65em'
        "
        routerLink="/why-competition-grade"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >What is Competition Grade?</a
      >
      <a
        [style.font-size]="
          (layoutService.isDesktop$ | async) ? '.8em' : '.65em'
        "
        routerLink="/verification"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Making the Lineup</a
      >
      <a
        [style.font-size]="
          (layoutService.isDesktop$ | async) ? '.8em' : '.65em'
        "
        routerLink="/projects"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Projects</a
      >
      <a
        [style.font-size]="
          (layoutService.isDesktop$ | async) ? '.8em' : '.65em'
        "
        routerLink="/contact-us"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Contact Us</a
      >
      <!-- <a
        routerLink="/distributor/locate"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Locate a Distributor</a
      > -->
    </nav>
    <div id="social_links_container">
      <a href="https://twitter.com/compgradeseed" target="_blank" rel="noopener"
        ><img src="../../assets/twitter_logo_gold.png" alt=""
      /></a>
      <a
        href="https://instagram.com/compgradeseed"
        target="_blank"
        rel="noopener"
        ><img src="../../assets/instagram_logo_gold.png" alt=""
      /></a>
      <a
        href="https://facebook.com/compgradeseed"
        target="_blank"
        rel="noopener"
        ><img src="../../assets/facebook_logo_gold.png" alt=""
      /></a>
      <!-- <a href="https://youtube.com" target="_blank" rel="noopener"
        ><img src="../../assets/youtube_logo_gold.png" alt=""
      /></a> -->
    </div>
  </mat-toolbar-row>
</mat-toolbar>
