* {
  color: white;
}

#container {
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 4px solid var(--cg_gold); */
}

mat-spinner {
  /* border: 2px solid green; */
  margin: auto;
}

span {
  display: block;
  margin-bottom: 2%;
  font-size: 0.8em;
  font-family: Orbitron;
  text-transform: uppercase;
  letter-spacing: var(--lspace);
  /* border: 2px solid red; */
}

#instagram_image {
  width: 100%;
  object-position: center;
  object-fit: cover;
  /* border: 2px solid red; */
}
