.internal_gridlist {
  padding: 0;
  height: 100%;
  width: 100%;
}

.page_container {
  /* padding: 0 2em 0 2em; */
  background: white;
}

span {
  display: block;
  font-weight: 600;
  margin-bottom: 6px;
  font-size: 1.25em;
}

#explanation_container {
  height: 100%;
  width: 100%;
  padding-top: 4em;
}

#description_section {
  display: flex;
}

#explanation_paragraph {
  width: 70%;
  padding-bottom: 4em;
  text-align: center;
  margin: 0 auto 0 auto;
  color: black;
  font-size: 1.25em;
  font-weight: 500;
}

#cg_lineup_title {
  width: 70%;
  margin: 0 auto 0 auto;
  letter-spacing: var(--lspace);
  color: var(--cg_gold);
  padding: 0.5em 0 0 0;
  margin-bottom: 0;
  text-align: center;
  background: black;
}
#cg_lineup_title span {
  color: white;
}

#cg_lineup_informative_text {
  width: 100%;
  background: var(--cg_silver);
  font-size: 1em;
  color: black;
  text-align: center;

  margin: 0 auto 2em auto;
  padding: 0.5em;
}

a {
  color: white;
  margin: 0;
  transition: color 250ms ease-out;
}

a:hover {
  color: var(--cg_gold);
}

#featured_container {
  width: 100%;
}

#featured_header_container {
  flex-basis: 100%;
  height: 30%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--cg_gold);
}

.header_text {
  color: black;
  text-decoration: underline;
  text-decoration-color: var(--cg_gold);
  text-decoration-thickness: 4px;
  font-weight: 800;
  font-size: 1.25rem;
  line-height: 1.3em;
  text-transform: uppercase;

  margin-bottom: 0;
  /* border-bottom: 4px solid var(--cg_gold); */
}

#featured_varieties_container {
  width: 100%;
  height: 100%;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  padding: 0.5%;
}

#cultivars_by_species_container {
  width: 100%;
  margin: 0 auto 0 auto;

  padding: 3em;
  padding-top: 0;
  text-align: center;

  position: relative;
  /* margin-bottom: 200px; */
}

#logo_viewer {
  width: 250px;
  height: 250px;
  margin: auto;
  border-radius: 100%;
  border: 4px solid var(--cg_gold);
  background: black;
  bottom: -60%;
  left: 40%;
  background-repeat: no-repeat;
  background-size: 75%;
  background-position-y: center;
  background-position-x: center;
}

#star_pin {
  background-image: url("/assets/cg_stars.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100px;
  height: 100px;
  position: relative;
  bottom: 5%;
  left: 30%;
}

.container {
  width: 33%;
  margin: 0 8px 0 8px;
}

#variety_container {
  width: 100%;
  display: flex;
  margin-bottom: ;
}

#cultivars_by_species_container h1 {
  font-weight: 500;
  color: black;
  border-bottom: 4px solid var(--cg_gold);
}
#cultivars_by_species_container ul {
  list-style: none;
  padding: 0;
  font-weight: 500;
  text-align: left;
}

#cultivars_by_species_container ul li {
  text-align: left;
  padding-left: 33%;
  position: relative;
  transition: opacity 250ms ease-out;
  color: black;
}

#cultivars_by_species_container ul li:hover::before {
  opacity: 1;
}

#cultivars_by_species_container ul li::before {
  content: ">>";
  position: absolute;
  top: 0;
  left: 25%;
  color: var(--cg_gold);
  opacity: 0;
}

.featuredProductImage {
  width: 100%;
  max-width: 250px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.featureContainer {
  width: 100%;
  height: 100%;

  /* border: 2px solid blue; */
}

.featureLogoContainer {
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
