<div class="container">
  <mat-grid-list cols="6" rowHeight="200px" gutterSize="6px">
    <mat-grid-tile id="left_tile" colspan="2" rowspan="7">
      <div class="internal_gridlist">
        <mat-grid-list cols="1" rowHeight="fit" gutterSize="6px">
          <mat-grid-tile id="top_tile" rowspan="1">
            <div id="header_image_container">
              <img
                id="header_logo"
                src="../../../assets/Competition_Grade_Verified_Seal_375x375.png"
                alt="what is competition grade"
              />
            </div>
          </mat-grid-tile>
          <mat-grid-tile id="bottom_tile" rowspan="3">
            <div id="explanation_container">
              <h2 id="explanation_title">
                <span>COMPETITION GRADE CULTIVARS</span> >> CRITERIA
              </h2>
              <p id="explanation_paragraph">
                The cultivars approved for Competition Grade meet stringent
                characteristics for sports turf usage. Many of them originate
                from parental lines that were selected based on wear tolerance
                and recovery in trials at Oregon, Kentucky or New Jersey. All
                the cultivars must have superior performance in at least two
                NTEP wear trials. In these trials they must demonstrate
                retention of ground cover, recovery from wear and high turf
                quality, over multiple years and seasons. Each cultivar must
                have at least one other superior characteristic to contribute to
                the blend, these characteristics include high seedling vigor,
                rapid establishment, early spring green up or fall growth and
                superior resistance to diseases such as Gray Leaf Spot, Brown
                Patch and Summer patch.
              </p>
              <div id="cultivars_by_species_container">
                <h1 class="header_text black">Kentucky Bluegrass</h1>
                <ul>
                  <li *ngFor="let variety of kbgVarieties">{{ variety }}</li>
                </ul>

                <h1 class="header_text black">Tall Fescue</h1>
                <ul>
                  <li *ngFor="let variety of tfVarieties">{{ variety }}</li>
                </ul>

                <h1 class="header_text black">Perennial Ryegrass</h1>
                <ul>
                  <li *ngFor="let variety of prgVarieties">{{ variety }}</li>
                </ul>
              </div>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </mat-grid-tile>
    <mat-grid-tile id="right_tile" colspan="4" rowspan="7">
      <div class="internal_gridlist">
        <mat-grid-list cols="1" gutterSize="6px" rowHeight="100px">
          <mat-grid-tile id="featured_tile" colspan="1" rowspan="1">
            <div id="featured_container">
              <div id="featured_header_container">
                <h1 id="featured_header" class="header_text black">
                  Featured Cultivars and advancements
                </h1>
              </div>
              <div id="featured_varieties_container">
                <img
                  routerLink="hello"
                  src="../../../assets/4turf_logo_featured.jpg"
                />
                <img
                  routerLink="hello"
                  src="../../../assets/sombrero_logo_featured.png"
                />
              </div>
            </div>
          </mat-grid-tile>
          <mat-grid-tile id="image_tile" colspan="1" rowspan="8">
            <div id="image_container">
              <img
                id="hand_image"
                src="../../../assets/hands_seed_1500x1000.png"
              />
            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
