<div class="page_container">
  <app-image-header
    image="/assets/Competition_Grade_Verified_Seal_375x375.png"
    backgroundImage="/assets/hands_seed_1500x1000.jpg"
  ></app-image-header>

  <div id="explanation_container">
    <section id="description_section">
      <p
        id="explanation_paragraph"
        class="bodyText"
        [style.width]="(layoutService.isMobile$ | async) ? '100%' : '50%'"
      >
        <span class="mat-body-strong"
          >The cultivars approved for Competition Grade meet stringent
          characteristics for sports turf usage
        </span>
        Many of them originate from parental lines that were selected based on
        wear tolerance and recovery in trials at Oregon, Kentucky or New Jersey.
        All the cultivars must have superior performance in at least two NTEP
        wear trials. In these trials they must demonstrate retention of ground
        cover, recovery from wear and high turf quality, over multiple years and
        seasons. Each cultivar must have at least one other superior
        characteristic to contribute to the blend, these characteristics include
        high seedling vigor, rapid establishment, early spring green up or fall
        growth and superior resistance to diseases such as Gray Leaf Spot, Brown
        Patch and Summer patch.
      </p>
    </section>
  </div>
  <div id="featured_container">
    <app-section-header>Featured Products</app-section-header>
    <div
      id="featured_varieties_container"
      [style.flex-direction]="
        (layoutService.isMobile$ | async) ? 'column' : 'row'
      "
    >
      <div class="featureContainer" *ngFor="let product of products">
        <div
          class="featureLogoContainer"
          [routerLink]="getLink(product.name)"
          [style.background-image]="setBackgroundImage(product.images[0])"
        >
          <img class="featuredProductImage" [src]="getLogo(product.name)" />
        </div>
      </div>
      <!-- <img routerLink="/featured/sombrero" src="/assets/sombrero_logo.jpg" />
        <img routerLink="/featured/4turf" src="/assets/4turf_logo.jpg" /> -->
    </div>
  </div>

  <app-section-header>CURRENT LINEUP</app-section-header>
  <p id="cg_lineup_informative_text" class="bodyText">
    Click a variety below to download it's technical data sheet
  </p>
  <div id="cultivars_by_species_container">
    <div
      id="variety_container"
      [style.flex-direction]="
        (layoutService.isMobile$ | async) ? 'column' : 'row'
      "
    >
      <div
        class="container"
        [style.width]="(layoutService.isMobile$ | async) ? '100%' : '33.3%'"
      >
        <h3 class="header_text black">Kentucky Bluegrass</h3>
        <ul>
          <a
            [href]="variety[1]"
            referrerpolicy="no-referrer"
            target="_blank"
            *ngFor="let variety of kbgVarieties"
          >
            <li
              class="bodyText"
              (mouseenter)="showLogo($event)"
              (mouseleave)="hideLogo($event)"
              [attr.data-logo]="formatForDataLogo(variety)"
            >
              {{ variety[0] }}
            </li>
          </a>
        </ul>
      </div>
      <div
        class="container"
        [style.width]="(layoutService.isMobile$ | async) ? '100%' : '33.3%'"
      >
        <h3 class="header_text black">Turf-Type Tall Fescue</h3>
        <ul>
          <a
            [href]="variety[1]"
            referrerpolicy="no-referrer"
            target="_blank"
            *ngFor="let variety of tfVarieties"
          >
            <li
              class="bodyText"
              (mouseenter)="showLogo($event)"
              (mouseleave)="hideLogo($event)"
              [attr.data-logo]="formatForDataLogo(variety)"
            >
              {{ variety[0] }}
            </li>
          </a>
        </ul>
      </div>
      <div
        class="container"
        [style.width]="(layoutService.isMobile$ | async) ? '100%' : '33.3%'"
      >
        <h3 class="header_text black">Perennial Ryegrass</h3>
        <ul>
          <a
            [href]="variety[1]"
            referrerpolicy="no-referrer"
            target="_blank"
            *ngFor="let variety of prgVarieties"
          >
            <li
              class="bodyText"
              (mouseenter)="showLogo($event)"
              (mouseleave)="hideLogo($event)"
              [attr.data-logo]="formatForDataLogo(variety)"
            >
              {{ variety[0] }}
            </li>
          </a>
        </ul>
      </div>
    </div>
    <section *ngIf="!(layoutService.isMobile$ | async)">
      <div id="logo_viewer" #logoViewer>
        <div id="star_pin"></div>
      </div>
    </section>
  </div>
</div>
