.internal_gridlist {
  padding: 0;
  height: 100%;
  width: 100%;
}

mat-grid-list {
  height: 100%;
  width: 100%;
}

#explanation_container {
  height: 100%;
  width: 100%;
}

#explanation_container p {
  width: 70%;
  padding-top: 4em;
  padding-bottom: 4em;
  font-size: 1.25em;
  font-weight: 500;
  text-align: center;
  margin: 0 auto 0 auto;
}

#cg_lineup_title {
  width: 70%;
  margin: 0 auto 0 auto;
  font-family: Orbitron;
  font-size: 2em;
  font-weight: 600;
  letter-spacing: var(--lspace);
  color: var(--cg_gold);
  /* border-top: 4px solid var(--cg_gold); */
  padding: 0.5em 0 0.5em 0;
  margin-bottom: 0;
  text-align: center;
  background: black;
}
#cg_lineup_title span {
  color: white;
}

#cg_lineup_informative_text {
  width: 70%;
  color: white;
  text-align: center;
  background: black;
  margin: 0 auto 0 auto;
  padding-bottom: 2em;
}

#explanation_container p#explanation_paragraph {
  font-weight: 600;
  background: white;
  color: black;
  text-align: center;
}

a {
  color: white;
  margin: 0;
  transition: color 250ms ease-out;
}

a:hover {
  color: var(--cg_gold);
}

#featured_list {
  width: 70%;
  margin: 0 auto 2em auto;
}

#featured_tile {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#featured_container {
  width: 100%;
  height: 100%;
}

#featured_header_container {
  flex-basis: 100%;
  height: 30%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--cg_gold);
}

.header_text {
  color: white;
  font-family: Orbitron;
  text-transform: uppercase;
  letter-spacing: var(--lspace);
  font-size: 1.25em;
  font-weight: 800;
  margin-bottom: 0;
}

#featured_varieties_container {
  background: var(--cg_gold);
  width: 100%;
  height: 70%;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  padding: 0.5em 0 0.5em 0;
}

#featured_varieties_container img {
  cursor: pointer;
  object-fit: contain;
  object-position: center;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

#cultivars_by_species_container {
  width: 70%;
  margin: 0 auto 0 auto;
  background: black;
  padding: 3em;
  padding-top: 0;
  text-align: center;
  display: flex;
  position: relative;
  margin-bottom: 200px;
}

#logo_viewer {
  position: absolute;
  width: 250px;
  height: 250px;
  border-radius: 100%;
  border: 4px solid var(--cg_gold);
  background: black;
  bottom: -60%;
  left: 40%;
  background-repeat: no-repeat;
  background-size: scale-down;
  background-position-y: center;
  background-position-x: center;
}

#star_pin {
  background-image: url("/assets/cg_stars.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100px;
  height: 100px;
  position: relative;
  bottom: 5%;
  left: 30%;
}

.container {
  width: 33%;
  margin: 0 8px 0 8px;
}

#cultivars_by_species_container h1 {
  font-weight: 500;
  color: white;
  border-bottom: 4px solid var(--cg_gold);
}
#cultivars_by_species_container ul {
  list-style: none;
  padding: 0;
  font-weight: 500;
  text-align: left;
}

#cultivars_by_species_container ul li {
  text-align: left;
  padding-left: 33%;
  position: relative;
  transition: opacity 250ms ease-out;
}

#cultivars_by_species_container ul li:hover::before {
  opacity: 1;
}

#cultivars_by_species_container ul li::before {
  content: ">>";
  position: absolute;
  top: 0;
  left: 25%;
  color: var(--cg_gold);
  opacity: 0;
}
