<div id="series_page_container">
  <mat-grid-list id="top_list" gutterSize="0px" rowHeight="735px" cols="12">
    <mat-grid-tile
      id="series_tag_container"
      colspan="{{ formulationToggled ? 1 : 0 }}"
      rowspan="1"
    >
      <div class="internal_gridlist">
        <mat-grid-list gutterSize="6px" rowHeight="225px" cols="1">
          <mat-grid-tile
            *ngFor="let tag of seriesTags"
            class="tag"
            rowspan="1"
            (click)="onTagSelect($event)"
          >
            <img
              id="{{ tag.seriesName }}_{{ tag.seriesId }}"
              src="/assets/{{ tag.seriesName }}_series_tag_{{
                tag.seriesId
              }}.jpg"
            />
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </mat-grid-tile>

    <mat-grid-tile id="series_formulation_container" colspan="7" rowspan="1">
      <app-formulation
        [seriesInfo]="seriesInfo"
        [seriesName]="seriesName"
        (toggledEvent)="setToggled($event)"
      ></app-formulation>
    </mat-grid-tile>

    <mat-grid-tile colspan="4" rowspan="1">
      <section id="menu_right" #menuRight>
        <app-menu-right [page]="seriesName"></app-menu-right>
      </section>
    </mat-grid-tile>
  </mat-grid-list>
</div>
