<div id="series_page_container">
  <div id="video_container">
    <app-featured-video
      [page]="seriesName"
      [autoplayOptions]="{ autoplay: true, runOnce: true }"
    ></app-featured-video>
  </div>
  <div class="container">
    <div
      id="series_overview_container"
      #overview
      [ngStyle]="{
        'flex-direction': (layoutService.isMobile$ | async) ? 'column' : 'row',
        'padding-bottom': (layoutService.isMobile$ | async) ? '1em' : '0',
        'padding-right': (layoutService.isMobile$ | async) ? '0' : '2em',
        background:
          (layoutService.isMobile$ | async) ? 'white' : this.getSeriesBgColor()
      }"
    >
      <img
        class="seriesLogo"
        src="/assets/{{ seriesName }}_series.png"
        [ngStyle]="{
          'border-right':
            (layoutService.isMobile$ | async) ? 'none' : '4px solid white',
          margin: (layoutService.isMobile$ | async) ? '0 0 2em 0' : '0 2em 0 0'
        }"
      />
      <h3
        class="mat-display-4"
        [style.color]="(layoutService.isMobile$ | async) ? 'black' : 'white'"
        [style.text-align]="
          (layoutService.isMobile$ | async) ? 'center' : 'left'
        "
      >
        {{ seriesInfo.overview }}
      </h3>
    </div>
    <div id="series_description">
      <span id="series_description_heading" class="labelHeader"
        >Series Description:</span
      >
      <p
        class="bodyText"
        [style.padding]="(layoutService.isMobile$ | async) ? '0 2.5%' : '0 15%'"
      >
        {{ seriesInfo.description }}
      </p>
      <span id="series_components_heading" class="labelHeader"
        >Series Components:</span
      >
      <ul *ngFor="let component of seriesInfo.components">
        <li>{{ component }}</li>
      </ul>
    </div>
  </div>

  <app-section-header
    ><span
      style="color: white; margin-right: .5em; font-weight: 700; letter-spacing: 1px; font-size: 1.1em;"
      >{{ seriesName }}</span
    >
    Mixtures & Blends</app-section-header
  >
  <div
    id="message_container"
    [style.padding]="(layoutService.isMobile$ | async) ? '4%' : '1%'"
  >
    <h3>Select a tag to view the formulation</h3>
  </div>
  <div
    id="series_tags_container"
    #tagsContainer
    [style.padding]="(layoutService.isDesktop$ | async) ? '0 15%' : '5% 0'"
  >
    <div
      class="tagContainer"
      *ngFor="let tag of seriesTags"
      (click)="onTagSelect($event)"
    >
      <img
        id="{{ tag.seriesName }}_{{ tag.seriesId }}"
        class="seriesTag"
        src="/assets/{{ tag.seriesName }}_series_tag_{{ tag.seriesId }}.jpg"
      />
    </div>
  </div>

  <div id="app_formulation_container">
    <app-formulation></app-formulation>
  </div>
</div>
