#series_page_container {
  background: white;
}

#series_logo_container {
  width: 100%;
  height: 100%;
  padding: 10px;
  /* border: 2px solid blue; */
  display: flex;
  justify-content: center;
  align-items: center;
}

#video_container {
  width: 100%;
  height: 450px;
  align-items: center;
  justify-content: center;
  border-top: 8px solid black;
  background: url("/assets/seed_backdrop.jpg");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

app-featured-video {
  width: 100%;
}

#video_container::before {
  content: "";
  padding-top: 56.25%;
  float: left;
  /* border: 2px solid red; */
}

#video_container::after {
  clear: left;
  content: " ";
  display: table;
}

.tagContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 2%;
  /* border: 2px solid blue; */
  cursor: pointer;
}
.tagContainer:first-child {
  justify-content: flex-end;
}
.tagContainer:last-child {
  justify-content: flex-start;
}

.seriesTag {
  height: 100%;

  object-fit: contain;
  background: white;
  border: 2px solid var(--cg_gold);
  transition: opacity 500ms ease-out, filter 250ms ease-out;
}
.seriesTag:hover {
  border: 2px solid white;
}

#series_tags_container {
  width: 100%;
  background: black;
  border-bottom: 4px solid var(--cg_gold);
}

img.activeTag {
  border: 2px solid white;
  filter: drop-shadow(5px 5px 5px black);
}

#series_tag_container img {
  max-width: 100px;

  /* max-height: 100%; */

  /* object-position: center;
  object-fit: contain; */
  border: 0.5px solid black;
  filter: grayscale(100%);
  transition: filter 0.25s ease-out;
}

#series_tag_container img:hover {
  filter: grayscale(0);
}

#series_formulation_container {
  background: black;
  width: 100%;
  height: 100%;
  position: relative;
}

#menu_right {
  width: 100%;
  height: 100%;
  /* background: var(--cg_silver); */
}

app-image-slider {
  width: 100%;
  height: 100%;
}

app-menu-right {
  width: 100%;
  height: 100%;
}

app-formulation {
  width: 100%;
  height: 100%;
}

#series_description ul li.component_listing {
  font-size: 1.5;
}

#series_overview_container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--cg_gold);
  background: black;
  color: black;
  color: white;
  margin-left: 2.5%;
  margin-right: 2.5%;
  /* border: 2px solid red; */
}

#series_overview_container img {
  padding: 0 1em;
  margin-right: 2em;
  border-right: 4px solid white;
  background: black;
}

#series_overview_container h3 {
  width: 90%;
  /* line-height: normal; */
  font-weight: 500;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}

#series_tags_container {
  display: flex;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  width: 100%;
  height: 100%;
  padding: 2em;
}

#series_description {
  width: 100%;
}
#series_description_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#series_description {
  margin-top: 1em;
  margin-bottom: auto;
  font-size: 1.2em;
  width: 100%;
  padding-left: 2.5%;
  padding-right: 2.5%;
  line-height: 1.25em;
  font-weight: 500;
  color: black;
  /* border: 2px solid green; */
}

#message_container {
  width: 100%;
  cursor: default;
  display: flex;
  justify-self: center;
  align-items: center;
  color: white;
  background: var(--cg_silver);
  mix-blend-mode: multiply;
}

#message_container h3 {
  width: 100%;
  font-size: 1em;
  text-align: center;
  line-height: normal;
  text-transform: uppercase;
  margin: 0;
  color: black;
}
#message_container h3::before {
  content: "< ";
  color: var(--cg_gold);
  color: black;
}
#message_container h3::after {
  content: " >";
  color: var(--cg_gold);
  color: black;
}

#series_description ul {
  /* font-size: 1.25em; */
  padding: 0%;
  width: 100%;
  text-align: center;
  font-weight: 500;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  list-style-type: none;
  /* border: 2px solid red; */
}

#series_description_heading,
#series_components_heading {
  /* font-size: 1.25em; */
  height: 10%;
  padding: 0.25%;
  font-size: 1em;
  width: 100%;
  /* border: 2px solid red; */
  margin-left: 0;
}
