#series_header_container {
  /* border: 2px solid grey; */
}

#series_logo_container {
  width: 100%;
  height: 100%;
  padding: 10px;
  /* border: 2px solid blue; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.speed {
  background: var(--cg_speed);
}
.power {
  background: var(--cg_power);
}
.agility {
  background: var(--cg_agility);
}

#series_logo_container img {
  /* height: 100%;
  width: 100%; */
  object-fit: contain;
  object-position: center;
  margin: auto;
  /* border: 2px solid red; */
}

#series_overview_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: var(--cg_silver);
  color: black;
  padding: 2.8em;
  /* border: 2px solid red; */
}

#series_overview_container h3 {
  height: 100%;
  font-family: Roboto;
  font-weight: 600;
  font-size: 1.3em;
  line-height: normal;
  /* color: white; */
  /* border: 2px solid red; */
}

#series_content_container {
  height: 100%;
  width: 100%;
  /* background: red; */
}

/* <mat-grid-tile id="series_content_description"></mat-grid-tile>
<mat-grid-tile id="series_tag_container"></mat-grid-tile>
<mat-grid-tile id="series_formulation_container"></mat-grid-tile> */

#series_description_container {
  background: white;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* border: 2px solid red; */
}

.heading {
  font-family: Roboto;
  font-size: 1em;

  color: black;
  display: block;
  font-weight: 800;
}

#series_description {
  margin-top: 2em;
  margin-bottom: auto;
  font-size: 0.9em;
  width: 90%;
  padding-left: 2.5%;
  line-height: 1.5em;
  font-weight: 500;
  /* border: 2px solid green; */
}

#series_tag_container {
  z-index: 2;
  background: white;
  filter: drop-shadow(20px 0 0.45rem rgba(0, 0, 0, 0.4));

  /* border: 2px solid yellow; */
}

#series_tag_container img.activeTag {
  filter: grayscale(0);
}

#series_tag_container img {
  max-width: 100px;

  /* max-height: 100%; */

  /* object-position: center;
  object-fit: contain; */
  border: 0.5px solid black;
  filter: grayscale(100%);
  transition: filter 0.25s ease-out;
}

#series_tag_container img:hover {
  filter: grayscale(0);
}

#series_formulation_container {
  background: black;
}

#series_formulation_container::before {
  content: "";
  background: url("../../../../assets/perennial_ryegrass_seed_bg.png");
  filter: grayscale();
  mix-blend-mode: screen;

  background-repeat: no-repeat;
  object-fit: scale-down;
  object-position: center;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.15;
}

#menu_right {
  width: 100%;
  height: 100%;
  background: var(--cg_gold);
}

mat-grid-list {
  width: 100%;
  height: 100%;
}

app-image-slider {
  width: 100%;
  height: 100%;
}

app-menu-right {
  width: 100%;
  height: 100%;
}

app-formulation {
  width: 100%;
  height: 100%;
}
