<div
  id="advert_container"
  [style.margin-top]="
    (layoutService.isMobile$ | async) || (layoutService.isTablet$ | async)
      ? '-10vh'
      : '0'
  "
>
<app-section-header>Thanks for your interest!</app-section-header>
<div id="content_container" >
  <div id="video_container">
    <app-featured-video
    [autoplayOptions]="{ autoplay: true, runOnce: true }"
    ></app-featured-video>
  </div>
  <app-form
  (formSubmitted)="setFormSubmitted($event)"
  subHeading="{{ subHeadingText }}"
  ></app-form>
</div>
</div>
