<mat-grid-list id="gridlist" cols="12" rowHeight="fit" gutterSize="6px">
    <mat-grid-tile class="sideimage_container" colspan="1">
        <img class="sideimage" src="../../../../assets/perennial_ryegrass_seed_bg.png" />
    </mat-grid-tile>
        <mat-grid-tile colspan="7">
            <app-form title="Thanks for your interest" subHeading="Your on your way to superior performance, we just need some information to better serve your needs"></app-form>
        </mat-grid-tile>
    <mat-grid-tile class="right_container" colspan="4">
        <app-menu-right></app-menu-right>
        <!-- <img class="sideimage" src="../../../../assets/perennial_ryegrass_seed_bg.png" /> -->
    </mat-grid-tile>
</mat-grid-list>


