
:host {
    position: relative;
}

#Bag {
    height: 100%;
  }
  
  #bag_clip {
    transition: opacity 1.25s ease-in-out;
    animation: bag_artwork_fade 1s 1;
    animation-play-state: paused;
  
  }

  #seeds_clip {
    mix-blend-mode: multiply;
    opacity: .8;
  }
  #bag_clip:hover {
    opacity: 0;
  }

  
  #BagFill {
    fill: var(--cg_silver);
    mix-blend-mode: multiply;
  }
  #Outline {
    fill: var(--cg_gold);
    opacity: 1;
    /* mix-blend-mode: overlay; */
  }

  #Primary {
    
    /* transform: translateY(-30%); */
    animation-delay: .5s;
    animation-play-state: paused;
   
  }

  #clip_container:hover #bag_clip {
      animation-play-state: running;
  }

  #clip_container:hover  #Primary {
    animation-play-state: running;
}
#clip_container:hover #Secondary {
    animation-play-state: running;
}

  #Secondary {
    fill: var(--cg_silver);
    animation-delay: .5s;
    animation-play-state: paused;
 
    
  }

  #Tertiary {
    fill: var(--four_turf);
  }

  @keyframes bag_artwork_fade {
      0%,50% {
          opacity: 1;
      }
      100% {
          opacity: 0;
      }
  }

  @keyframes primary_show_90 {
        from {
            transform: translateY(0);
      }
      to {
          transform: translateY(-10%);
      }
  }
  @keyframes primary_show_85 {
        from {
            transform: translateY(0);
      }
      to {
          transform: translateY(-15%);
      }
  }
  @keyframes primary_show_80 {
        from {
            transform: translateY(0);
      }
      to {
          transform: translateY(-20%);
      }
  }
  @keyframes primary_show_70 {
        from {
            transform: translateY(0);
      }
      to {
          transform: translateY(-30%);
      }
  }


  @keyframes four_turf_show_15 {
      from {
          transform: translateY(0)
      }
      to {
          transform: translateY(-15%);
      }
  }
  @keyframes four_turf_show_10 {
      from {
          transform: translateY(0)
      }
      to {
          transform: translateY(-10%);
      }
  }
  @keyframes four_turf_show_5 {
      from {
          transform: translateY(0)
      }
      to {
          transform: translateY(-5%);
      }
  }

  .showFourTurf15{
    animation: four_turf_show_15 2s 1;
    transform: translateY(-15%);
  }
  .showFourTurf10 {
    animation: four_turf_show_10 2s 1;
    transform: translateY(-10%);
  }
  .showFourTurf5 {
    animation: four_turf_show_5 2s 1;
    transform: translateY(-5%);
  }
  .showFourTurf0 {
    /* animation: four_turf_show_10 2s 1;
    transform: translateY(-10%); */
  }
  .showPrimary90 {
    animation: primary_show_90 2s 1;
    transform: translateY(-10%);
  }
  .showPrimary85 {
    animation: primary_show_85 2s 1;
    transform: translateY(-15%);
  }
  .showPrimary80 {
    animation: primary_show_80 2s 1;
    transform: translateY(-20%);
  }
  .showPrimary70 {
    animation: primary_show_70 2s 1;
    transform: translateY(-30%);
  }


  .fill_speed {
    fill: var(--cg_speed);
  }
  .fill_power {
    fill: var(--cg_power);
  }
  .fill_agility{
    fill: var(--cg_agility);
  }