<div id="footer_detail_container">
  <span>Premium Distribution Partners</span>
  <div id="footer_detail_options">
    <ul>
      <li><span id="website">COMPETITIONGRADESEED.COM</span></li>
      <li [routerLink]="['/privacy']">privacy policy</li>

      <li [routerLink]="['/terms']">terms and conditions</li>

      <li [routerLink]="['/sitemap']">sitemap</li>
      <li id="copyright_statement">
        Copyright: &copy; {{ year }} DLF Pickseed USA, Inc. All Rights Reserved.
      </li>
    </ul>
  </div>
</div>
