#footer_detail_container {
  display: flex;
  justify-content: flex-end;
  background: black;
  background: var(--cg_gold);
  color: white;
  width: 100%;
  height: 35px;
  font-family: Orbitron;
  font-weight: 800;
  letter-spacing: var(--lspace);
  margin: 0;
  /* border: 2px solid red; */
}

#footer_detail_container span {
  flex-basis: 40%;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: calc(100vw / 9);
  margin-right: 5%;
  display: block;
  text-align: center;
  font-size: 0.8em;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  border-top: 2px solid var(--cg_gold);
  padding: 0px 0 2px 0;
}

#footer_detail_options {
  flex-basis: 60%;
  justify-self: flex-end;
  height: 100%;
  background: var(--cg_silver);
  margin: 0;
  /* border: 2px solid green; */
}
#mobile_footer_detail_options {
  width: 100%;
  display: flex;
  background: black;
}

#footer_detail_options ul {
  margin: 0;
  height: 100%;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#mobile_footer_detail_options ul li,
#footer_detail_options ul li {
  display: inline-flex;
  justify-content: center;
  align-self: center;
  font-size: 0.6em;
  letter-spacing: 0.25px;
  list-style-type: none;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  text-decoration-color: black;
  text-align: center;
  margin-right: 10px;
  text-transform: uppercase;
  font-weight: 700;
  border-right: 2px solid rgba(0, 0, 0, 0.1);
  padding-right: 10px;
  padding-left: 10px;
  cursor: pointer;

  /* border: 2px solid red; */
}

#mobile_footer_detail_options ul li {
  width: 100%;
  font-size: 0.7em;
  color: white;
  margin-bottom: 5px;
}

#footer_detail_options ul li:hover {
  opacity: 0.5;
}

#footer_detail_options ul li:last-child {
  border: none;
}
#mobile_footer_detail_options ul li#copyright_statement,
#footer_detail_options ul li#copyright_statement {
  font-size: 0.7em;
  margin: auto 0 auto 0;
  letter-spacing: 0.25px;
  color: black;
  font-family: Roboto;
  font-weight: 600;
  text-transform: none;
  cursor: context-menu;
}

#mobile_footer_detail_options ul li#copyright_statement {
  color: white;
  margin-top: 20px;
  font-weight: 500;
}

#footer_detail_options ul li#copyright_statement:hover {
  opacity: 1;
}

#mobile_footer_detail_options ul li span#website,
#footer_detail_options ul li span#website {
  padding: 0;
  font-family: Orbitron;
  font-size: 1.2em;
  font-weight: 800;
  border-top: 3px solid var(--cg_gold);
  cursor: context-menu;
  margin-left: 2em;
  margin-right: 0;
  letter-spacing: normal;
}

#mobile_footer_detail_options ul li span#website {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

#footer_detail_options ul li:hover:last-child {
  opacity: 1;
}

#footer_detail_options ul li:focus {
  outline: 1px solid black;
}

.active {
  opacity: 0.8;
}
