<div
  id="footer_detail_container"
  *ngIf="!(this.layoutService.isMobile$ | async)"
>
  <!-- <span>Premium Distribution Partners</span> -->
  <div id="footer_detail_options">
    <ul>
      <li><span id="website">COMPETITIONGRADESEED.COM</span></li>
      <li
        [routerLink]="['/site-details']"
        fragment="privacy"
        routerLinkActive="active"
      >
        privacy policy
      </li>

      <li
        [routerLink]="['/site-details']"
        fragment="terms"
        routerLinkActive="active"
      >
        terms and conditions
      </li>

      <li
        [routerLink]="['/site-details']"
        fragment="sitemap"
        routerLinkActive="active"
      >
        sitemap
      </li>
      <li>
        <a
          href="https://dlfpickseed.com/usa"
          target="_blank"
          referrerpolicy="origin"
          ><img id="company_logo" src="/assets/DLF_logo.png"
        /></a>
      </li>

      <li id="copyright_statement">
        Copyright: &copy; {{ year }} DLF Pickseed USA, Inc. All Rights Reserved.
      </li>
    </ul>
  </div>
</div>

<div
  id="mobile_footer_detail_container"
  *ngIf="this.layoutService.isMobile$ | async"
>
  <div id="mobile_footer_detail_options">
    <ul>
      <li><span id="website">COMPETITIONGRADESEED.COM</span></li>
      <li
        [routerLink]="['/site-details']"
        fragment="privacy"
        routerLinkActive="active"
      >
        privacy policy
      </li>

      <li
        [routerLink]="['/site-details']"
        fragment="terms"
        routerLinkActive="active"
      >
        terms and conditions
      </li>

      <li
        [routerLink]="['/site-details']"
        fragment="sitemap"
        routerLinkActive="active"
      >
        sitemap
      </li>

      <li style="padding-top: 1em">
        <a
          href="https://dlfpickseed.com/usa"
          target="_blank"
          referrerpolicy="origin"
          ><img id="company_logo" src="/assets/DLF_logo.png"
        /></a>
      </li>

      <li id="copyright_statement">
        Copyright: &copy; {{ year }} DLF Pickseed USA, Inc. All Rights Reserved.
      </li>
    </ul>
  </div>
</div>
