#formulation_container {
  display: flex;
  min-height: 700px;
}

#formulation_graphic_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  background: url("/assets/perennial_ryegrass_seed_bg.png");
}

app-formulation-graphic {
  width: 50%;
}

#formulation_breakdown_container {
  width: 50%;
  background: url("/assets/perennial_ryegrass_seed_bg.png");
}

.speed {
  background: var(--cg_speed);
}
.power {
  background: var(--cg_power);
}
.agility {
  background: var(--cg_agility);
}
