<!-- <div class="toggle_container">
  <mat-icon
    #toggleButton
    id="series_formulation_toggle"
    [ngStyle]="{
      color: toggled ? 'white' : 'var(--cg_gold)',
      borderColor: toggled ? 'white' : 'var(--cg_gold)'
    }"
    (click)="toggleDisplay()"
    >cached</mat-icon
  >
  <span *ngIf="toggled" style="color: white"
    >Click to view series formulations</span
  >
  <span *ngIf="!toggled">Click to view series description</span>
</div> -->
<div id="formulation_container">
  <div id="formulation_graphic_container">
    <app-formulation-graphic></app-formulation-graphic>
  </div>
  <div id="formulation_breakdown_container">
    <app-formulation-breakdown></app-formulation-breakdown>
  </div>
</div>
