#content_section {
}

[id^="tile_"] {
  background: grey;
}

#tile_c {
  background: black;
}
#tile_d {
  background: var(--cg_gold);
}
#tile_e {
  background: green;
}
.internal_gridlist {
  min-width: 100%;
}
