<div id="content_section">
  <div style="height:600px;">
    <app-image-slider [speed]="6000"></app-image-slider>
  </div>
  <!-- <mat-grid-list
    gutterSize="0"
    cols="{{ breakpoint.colSize }}"
    rowHeight="{{ breakpoint.rowHeight }}"
  >
    <mat-grid-tile id="image_slider" colspan="{{ breakpoint.colSpan_L }}">
      <app-image-slider [speed]="6000"></app-image-slider>
    </mat-grid-tile>
    <mat-grid-tile
      *ngIf="!(this.layoutService.isMobile$ | async)"
      id="menu_right"
      rowspan="{{ breakpoint.rowSpan_R }}"
      colspan="{{ breakpoint.colSpan_R }}"
    >
      <app-menu-right [page]="page" features="all"></app-menu-right>
    </mat-grid-tile>
  </mat-grid-list> -->
  <div style="height: 100px;">
    <app-featured-links></app-featured-links>
  </div>
  <div style="height: 200px; width: 200px;">
    <app-twitter-feed></app-twitter-feed>
  </div>
  <div style="height: 200px; width: 200px;">
    <app-instagram-feed></app-instagram-feed>
  </div>
  <div id="mobile_content" *ngIf="(this.layoutService.isMobile$ | async)">
    <div class="video_container">
      <app-featured-video
        [page]="page"
        [autoplayOptions]="{ autoplay: false, runOnce: true }"
      ></app-featured-video>
    </div>
    <div class="selectBelow">SELECT A SERIES</div>
    <app-featured-links></app-featured-links>
  </div>
</div>
