:host {
  height: 100%;
}

#content_section {
  width: 100%;
  height: auto;
}

#mobile_content {
  width: 100%;
}

.video_container {
  border-top: 2px solid var(--cg_gold);
  width: 100%;
  height: calc(100vw * 0.5625);
}

mat-grid-list {
  width: 100%;
  height: 100%;
}

#menu_right {
  width: 100%;
  height: 100%;
}

app-menu-right {
  width: 100%;
  height: 100%;
}

app-image-slider {
  position: relative;
  width: 100%;
  height: 100%;
}

.selectBelow {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Orbitron;
  font-weight: 800;
  letter-spacing: 0.25em;
  height: 5vh;
  text-align: center;
  background: var(--cg_gold);
  color: white;
  position: relative;
}
/*
.selectBelow::after {
  content: "^";
  width: 10vw;
  height: 2vh;
  position: absolute;
  top: 5vh;
  left: 45vw;
  background: var(--cg_gold);
  transform: rotate(180deg);
  font-family: Roboto;
  font-size: 2em;
  font-weight: 500;
} */
