<section id="content_section">
  <mat-grid-list gutterSize="6px" cols="6" rowHeight="690px">
    <mat-grid-tile id="tile_a" rowspan="1" colspan="4">
      <img
        class="slider_main"
        src="../../../assets/Competition_Grade_SliderImage_Main.png"
      />
    </mat-grid-tile>
    <mat-grid-tile id="menu_right" rowspan="1" colspan="2">
      <div class="internal_gridlist">
        <mat-grid-list
          id="menu_right_gridlist"
          gutterSize="6px"
          cols="1"
          rowHeight="11:1"
        >
          <mat-grid-tile id="tile_intro_video" rowspan="5">
            <div id="intro_video_container">
              <iframe
                width="100%"
                height="100%"
                src="https://www.youtube.com/embed/q9OzwKGmEmE"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </div>
          </mat-grid-tile>
          <mat-grid-tile id="tile_featured" rowspan="2">
            <div class="internal_gridlist">
              <mat-grid-list
                id="featured_gridlist"
                gutterSize="6px"
                cols="3"
                rowHeight="fit"
              >
                <mat-grid-tile class="demo" rowspan="1">1</mat-grid-tile>
                <mat-grid-tile class="demo" rowspan="1">2</mat-grid-tile>
                <mat-grid-tile class="demo" rowspan="1">3</mat-grid-tile>
              </mat-grid-list>
            </div>
          </mat-grid-tile>
          <mat-grid-tile id="tile_social" rowspan="4">
            <div class="internal_gridlist">
              <mat-grid-list
                id="social_gridlist"
                gutterSize="6px"
                cols="2"
                rowHeight="fit"
              >
                <mat-grid-tile class="social_grid_twitter" rowspan="1">
                  <a
                    class="twitter-timeline"
                    data-lang="en"
                    data-width="300"
                    data-height="235"
                    data-theme="dark"
                    data-chrome="noheader nofooter noborders noscrollbar transparent"
                    href="https://twitter.com/CompGradeSeed?ref_src=twsrc%5Etfw"
                  ></a>
                </mat-grid-tile>
                <mat-grid-tile class="social_grid_instagram" rowspan="1">
                  <app-instagram-feed></app-instagram-feed>
                </mat-grid-tile>
              </mat-grid-list>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</section>
