<app-news *ngIf="(this.newsService.showNews | async)"></app-news>

<app-header
  *ngIf="
    !isAdvertisment &&
    !(this.layoutService.isMobile$ | async) &&
    (!isAdvertisment && !(this.layoutService.isTablet$ | async))
  "
></app-header>
<app-mobile-nav
  *ngIf="
    (!isAdvertisment && (this.layoutService.isMobile$ | async)) ||
    (!isAdvertisment && (this.layoutService.isTablet$ | async))
  "
></app-mobile-nav>

<app-content-container [size]="this.layoutService.getScreenSize() | async">
  <router-outlet (activate)="onRouterActivate($event)"></router-outlet>
</app-content-container>
<app-footer *ngIf="!isAdvertisment"></app-footer>
