

h2{
  padding: 4px 0 4px 0;
  margin: 1em auto 1em auto;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 2em;
  font-family: Orbitron;
  border-top: 4px solid var(--cg_gold);
}
