#form_container {
  color: var(--cg_gold);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0.5em;
}

#login_form {
  height: 95%;
  width: 100%;
  display: flex;
}

#form_field_container {
  display: flex;
  flex-direction: column;
  background: white;
  padding: 0.25em 1em 2em 1em;
  border-radius: 5px;
}

#form_header {
  color: black;
  font-size: 0.8em;
  border-bottom: 2px solid var(--cg_gold);
  margin-top: 0;
  padding: 0;
}

#login_button {
  /* border: 2px solid red; */
  cursor: pointer;
  flex-grow: 1;

  margin: auto 0 auto 1em;
  font-family: Roboto;
  text-transform: uppercase;
  /* letter-spacing: var(--lspace); */
  font-weight: 800;
  font-size: 0.9em;
  background: var(--cg_gold);
  display: flex;
  align-items: center;
  justify-content: center;
}

mat-button-wrapper {
  width: 100%;
  height: 100%;
}

button#login_button:disabled {
  opacity: 0;
}
button#login_button:disabled:hover {
  cursor: default;
}

mat-form-field {
  width: 100%;
  height: 50%;
  flex-grow: 1;
}

mat-label {
  font-size: 0.8em;
}

mat-error {
  font-size: 0.5em;
}
