#header {
  width: 100%;
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: 500;
  letter-spacing: var(--lspace);
  border-bottom: 4px solid var(--cg_gold);
  text-align: center;
  margin: auto;
  background: black;
  color: white;
}
