<div id="site_details_container" #container>
  <img
    id="top_image"
    src="/assets/cg_stars.png"
    alt="competition grade shield"
  />
  <div id="privacy" class="detailContainer" #privacy>
    <h1>Privacy Policy</h1>
    <p class="">
      We use Google Analytics on our website to find out where our traffic comes
      from, which pages are most interesting, how many visitors we have and so
      on. We need this information in order to increase the quality of our
      website. Small files called cookies are stored on your computer when you
      visit competitiongradeseed.com, because Google Analytics needs these to
      collect information about the use of the site. Cookies are not harmful to
      your computer, and they cannot contain viruses. Google Analytics collects
      no personal data such as name or email address. Read more about how Google
      Analytics collects information. Cookies have a life span of six months,
      but if you want to delete them before they expire, you can always do it
      via the settings in your browser.
    </p>
  </div>
  <div id="terms" class="detailContainer" #terms>
    <h1>Terms & Conditions</h1>
    <p class="" *ngFor="let term; let i = index; of: termsConditionsData">
      {{ i + 1 }}. {{ term }}
    </p>
  </div>
  <div *ngIf="sitemapData" id="sitemap" class="detailContainer" #sitemap>
    <h1>Sitemap</h1>
    <p>
      We use Google Analytics on our website to find out where our traffic comes
      from, which pages are most interesting, how many visitors we have and so
      on. We need this information in order to increase the quality of our
      website. Small files called cookies are stored on your computer when you
      visit competitiongradeseed.com, because Google Analytics needs these to
      collect information about the use of the site. Cookies are not harmful to
      your computer, and they cannot contain viruses. Google Analytics collects
      no personal data such as name or email address. Read more about how Google
      Analytics collects information. Cookies have a life span of six months,
      but if you want to delete them before they expire, you can always do it
      via the settings in your browser.
    </p>
  </div>
  <img
    id="shield"
    src="../../../assets/Competition_Grade_Logo_Final_ShieldOnly.png"
    alt="competition grade shield"
  />
</div>
