<div id="site_details_container" #container>
    <img id="shield" src="../../../assets/Competition_Grade_Logo_Final_ShieldOnly.png" alt="competition grade shield" />
    <div id="privacy" class="detailContainer" #privacy>
        <h1>Privacy Policy</h1>
        <p>We use Google Analytics on our website to find out where our traffic comes from, which pages are most interesting, how
            many visitors we have and so on. We need this information in order to increase the quality of our website. Small files
            called cookies are stored on your computer when you visit competitiongradeseed.com, because Google Analytics needs these to collect
            information about the use of the site.
            
            Cookies are not harmful to your computer, and they cannot contain viruses. Google Analytics collects no personal data
            such as name or email address. Read more about how Google Analytics collects information.
            
            Cookies have a life span of six months, but if you want to delete them before they expire, you can always do it via the
            settings in your browser.</p>
        </div>
        <div id="terms" class="detailContainer" #terms>
            <h1>Terms & Conditions</h1>
            <p>
                1. TERMS: Payment by the Buyer of the purchase price shall be net cash on date of delivery, subject to sight draft,
                Order Notify Bill of Lading attached.<br>
                2. Pickseed USA, Inc. warrants to the extent of the purchase price that seeds sold are as described on the container
                within recognized tolerances.<br>
                3. In the event of short crop, Seller reserves the right to fill this order “prorata” and in case of complete failure of
                crop, Seller shall not be held liable.<br>
                4. Anything contained herein to the contrary notwithstanding, this contract shall be deemed to have been made at
                Tangent, Oregon, and Purchaser
                hereby agrees to submit to the jurisdiction of the courts of the State of Oregon to resolve all disputes relating to
                this contract.<br>
                5. In the event that this sale is a sale to a purchaser located in the United States or Canada, then this contract and
                all matters relating to the performance
                of this contract shall be governed by the laws of the State of Oregon and the Noramseed Trade Rules and Usages except as
                the terms of this
                agreement may provide to the contrary. In the event of a conflict between the terms of this agreement and the Noramseed
                Trade Rules and Usages,
                then the terms of this agreement shall govern. At the option of Pickseed USA, Inc., any controversy hereunder may be
                resolved by suit or action in
                the appropriate court or by arbitration in accordance with the rules of the American Arbitration Association.<br>
                6. In the event that the sale is a sale to a purchaser located outside of the United States or Canada, then this
                contract shall be governed by F.I.S. Rules. In
                the event of a conflict between the terms of this agreement and F.I.S. Rules, then the terms of this agreement shall
                govern.<br>
                7. All amounts due under this agreement shall be payable in U.S. funds unless otherwise noted on the front of this
                agreement.<br>
                8. In the event of a conflict between the terms of this agreement and any other contract covering this same transaction,
                then the terms of this agreement
                shall govern.<br>
                9. In the event that litigation is instituted arising directly out of this contract, then the losing party shall pay to
                the prevailing party its reasonable
                attorney fees at both the trial and appellate levels.<br>
                10. Purchaser shall not assign this agreement or his rights hereunder without the express written consent of Seller.<br>
                11. Seller neither warrants nor guarantees against damage from the use and/or application of the commodity sold and
                hereby is expressly relieved from
                liability therefore. Unless expressly stated herein, Seller shall not be deemed to have any knowledge of any particular
                purpose for which the goods
                sold hereunder are required.<br>
                12. This sale is based upon the present ocean freight rates, marine insurance, warfage, handling or terminal charges,
                tariff and custom house
                classifications, excises, taxes, and governmental charges, and any increase in any of the same subsequent to the date
                hereof, together with any
                demurrage charges, shall be at the expense of the Buyer.<br>
                13. Any excise, taxes, fees or other charges now or hereafter imposed by any governmental agency or authority on the
                products governed hereby, their
                manufacture, refining, sale or use, shall be added to the price set forth herein.<br>
                14. In the event that Buyer defaults in any payment to the Seller or becomes insolvent, or if a receiver is appointed
                for all or a part of Buyer’s assets, or
                a petition in bankruptcy, either voluntary or involuntary is filed by or against Buyer, Seller may, at its option,
                cancel all or any unfilled portion of this
                contract.<br>
                15. In the event this agreement provides for the sale of several installments, then separate and independent contracts
                for sale of the several installments
                agreed to be delivered, are intended, and no breach by the Seller as to a particular installment shall effect the
                contract for payment as provided, or
                to fulfill the terms of this, or any other agreement with the Seller, the Seller may, without prejudice to any other
                lawful remedy, defer further deliveries,
                or at its option, cancel this or any other contracts with the Buyer, saving to the Seller the right to recover any
                damage suffered by such cancellation.<br>
                16. Failure by Seller at any time to require performance by purchaser of any of the provisions hereof shall in no way
                affect Seller’s rights hereunder to
                enforce the same, nor shall any waiver of any breach hereof be held to be a waiver of any other succeeding breach, or a
                waiver of this non-waiver
                clause.<br>
                17. The Noramseed Trade Rules and Usages govern this agreement, except as the terms of this agreement provide to the
                contrary, and provide that in
                all cases payment must be made in full when due and that it is not permissible to withhold payment to offset claims
                which the Buyer may have on this
                agreement. The Rules further provide that payment does not constitute acceptance of the fulfillment of the contract. The
                parties agree that if
                payment is not made when due that the Buyer agrees not to assert any defense, setoff, recoupment, claim or counterclaim
                which Buyer may have
                against Seller on account of or relating to this agreement.<br>
                18. Any provisions hereof contrary to the law governing jurisdiction shall be deemed void to the extent of such
                prohibition, but without invalidating the
                remaining provisions hereof.
            </p>
        </div>
        <div id="sitemap" class="detailContainer" #sitemap>
            <h1>Sitemap</h1>
            <p>We use Google Analytics on our website to find out where our traffic comes from, which pages are most interesting,
                how
                many visitors we have and so on. We need this information in order to increase the quality of our website. Small
                files
                called cookies are stored on your computer when you visit competitiongradeseed.com, because Google Analytics needs
                these to collect
                information about the use of the site.
                
                Cookies are not harmful to your computer, and they cannot contain viruses. Google Analytics collects no personal
                data
                such as name or email address. Read more about how Google Analytics collects information.
                
                Cookies have a life span of six months, but if you want to delete them before they expire, you can always do it via
            the
            settings in your browser.</p>
      
    </div>
    <img id="shield" src="../../../assets/Competition_Grade_Logo_Final_ShieldOnly.png" alt="competition grade shield" />
</div>