#site_details_container {
  padding: 5em 15% 2em 15%;
  /* border: 2px solid red; */
  background: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#shield {
  height: 150px;
  /* border: 2px solid red; */
  margin-bottom: 2em;
}

h1 {
  margin-left: auto;
  margin-right: auto;
  max-width: 50vw;
  text-align: center;
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: 4px solid var(--cg_gold);
}

p {
  font-family: Roboto;
  font-size: 1em;
  font-weight: 500;
}
p {
  text-align: center;
}

#terms p {
  text-align: left;
}

.detailContainer {
  width: 100%;
  margin-bottom: 5em;
  /* border: 2px solid red; */
}
br {
  margin-bottom: 0.25em;
}
