<div id="container">
  <div
    id="project_container"
    *ngFor="let project of (this.projectsService.selectedProject$ | async)"
  >
    <app-section-header
      ><span style="color: white; margin-right: 1em; font-weight: 800;">>></span
      >{{ project.name }}</app-section-header
    >
    <div
      id="images_details_container"
      [style.flex-direction]="
        (layoutService.isMobile$ | async) ? 'column' : 'row'
      "
    >
      <div id="details_container">
        <p class="bodyText">{{ project.icon }}</p>
        <p class="bodyText boxedText">{{ project.description }}</p>
        <span class="projectLabel">Location:</span>
        <h3 class="bodyText upper">{{ project.location }}</h3>
        <hr />
        <span class="projectLabel">Project Manager:</span>
        <h3 class="bodyText upper lspace">{{ project.projectManager }}</h3>
        <hr />
        <section>
          <span class="projectLabel">Products Used:</span>
          <div id="products_container">
            <img
              id="series_logo"
              style="background: black;"
              src="/assets/{{ project.series }}_series.png"
            />
            <div
              [routerLink]="['/products', project.series]"
              fragment="series_tags_container"
              id="tags_container"
              [style.background]="this.getSeriesBg(project.series)"
            >
              <img
                *ngFor="let tag of project.tags"
                src="/assets/{{ project.series }}_series_tag_{{ tag }}.jpg"
              />
            </div>
          </div>
          <hr />
        </section>

        <section *ngIf="project.quotes.length > 0">
          <span class="projectLabel">Quotes:</span>
          <p>{{ project.quotes }}</p>
          <hr />
        </section>
        <section>
          <span class="projectLabel">Distributor:</span>
          <a
            style="width: 100%; height: 100%;"
            [href]="
              distributorService.getByName(project.distributor).websiteUrl
            "
            target="_blank"
            referrerpolicy="no-referrer"
          >
            <img
              style="width: 100%; object-fit: scale-down;"
              [src]="
                distributorService.getByName(project.distributor).imagePath
              "
            />
          </a>
        </section>
      </div>

      <div
        id="images_container"
        *ngIf="!project.inProgress"
        [style.width]="(layoutService.isMobile$ | async) ? '100%' : '50%'"
      >
        <img *ngFor="let image of project.images" [src]="image.imagePath" />
      </div>

      <div
        id="in_progress_container"
        *ngIf="project.inProgress"
        [style.width]="(layoutService.isMobile$ | async) ? '100%' : '50%'"
      >
        <div class="inProgressOverlay"></div>
        <img id="in_progress_image" [src]="project.images[0].imagePath" />
      </div>
    </div>
  </div>
</div>
