#container {
  background: white;
  min-height: 550px;
}

#images_details_container {
  display: flex;
  background: var(--cg_silver);
}

#details_container {
  flex-basis: 50%;
  padding: 1em 2em 2em 2em;
  background: white;
}

#images_container {
  flex-basis: 50%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  background: white;
}

#main_image {
  flex-basis: 50%;
  border-right: 2px solid white;
}

#images_container :first-child {
  width: 100%;
}

#images_container img {
  flex-grow: 1;
  flex-basis: 50%;
  width: 50%;
  margin-bottom: 4px;

  object-position: center;
  object-fit: cover;
  border-left: 4px solid white;
}

#products_container {
  display: flex;
}

#series_logo {
  width: 25%;
  object-fit: scale-down;
}

#tags_container {
  width: 75%;
  height: 300px;
  padding: 5%;
  display: flex;
  justify-content: center;
}
#tags_container img {
  cursor: pointer;
  object-fit: contain;
  flex-grow: inherit;
  margin-right: 2%;
  background: white;
  border: 2px solid var(--cg_gold);
}

.projectLabel {
  display: inline-block;
  margin-top: 1%;
  margin-bottom: 1%;
  /* width: 100%; */
  background: black;
  color: white;
  text-transform: uppercase;
  font-size: 0.6em;
  padding: 0.5%;
  font-family: Orbitron;
  font-weight: 700;
  letter-spacing: var(--lspace);
}

#in_progress_container {
  width: 50%;
  height: 500px;
  position: relative;
  padding: 0;
  margin: 0;
}

.inProgressOverlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background: url("/assets/in_progress.png");
  background-color: rgba(0, 0, 0, 0.8);
  background-repeat: no-repeat;
  background-size: scale-down;
  background-position: center;
  z-index: 100;
}

#in_progress_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale();
}
