#contact_us_gridlist {
  min-height: 680px;
  display: flex;

  /* border: 2px solid blue; */
}

#form_left {
  width: 100%;
  /* border: 2px solid purple; */
  flex-grow: 2;
  flex-basis: 75%;
  overflow: hidden;
}
#image_right {
  flex-grow: 1;
  flex-basis: 25%;
  overflow: hidden;
}

#image_right img,
#image_left img {
  object-fit: cover;
  object-position: center;
  object-position: 40%;
  width: 100%;
  height: 100%;
  background: var(--cg_gold);

  /* border: 2px solid red; */
}
