<div id="page_container">
  <mat-grid-list
    id="contact_us_gridlist"
    cols="3"
    rowHeight="fit"
    gutterSize="0"
  >
    <mat-grid-tile id="image_left" rowspan="1" colspan="1">
      <img src="../../../assets/soccer_ball_1000x1000.png" />
    </mat-grid-tile>
    <mat-grid-tile id="form_left" rowspan="1" colspan="2">
      <app-form title="Contact Us" fieldApperance="standard"></app-form>
    </mat-grid-tile>
    <!-- <mat-grid-tile id="image_right" rowspan="1" colspan="1">
      <img src="../../../assets/baseball_1500x1000.png" />
    </mat-grid-tile> -->
  </mat-grid-list>
</div>
