<div id="page_container">
  <mat-grid-list
    id="contact_us_gridlist"
    cols="3"
    rowHeight="fit"
    gutterSize="6px"
  >
    <mat-grid-tile id="image_left" rowspan="1" colspan="1">
      <img src="../../../assets/turfgrass_backdrop.png" />
    </mat-grid-tile>
    <mat-grid-tile id="form_left" rowspan="1" colspan="1">
      <div id="form_container">
        <h1>Contact Us</h1>

        <form #form="ngForm" (submit)="submitForm(form)">
          <mat-form-field appearance="outline" color="primary">
            <mat-label>Name</mat-label>
            <input matInput type="text" name="name" [(ngModel)]="form.name" />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input
              matInput
              placeholder="potential@distributor.com"
              name="email"
              type="email"
              email
              [(ngModel)]="form.email"
              required
            />
            <mat-error *ngIf="form.invalid">{{
              getEmailErrorMessage()
            }}</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Message</mat-label>
            <textarea
              matInput
              cols="30"
              rows="5"
              required
              name="message"
              [(ngModel)]="form.message"
            ></textarea>
            <mat-error *ngIf="form.invalid">{{
              getMessageErrorMessage()
            }}</mat-error>
          </mat-form-field>
          <br />
          <button [disabled]="form.invalid" type="submit" mat-button>
            Submit
          </button>
        </form>
      </div>
    </mat-grid-tile>
    <mat-grid-tile id="image_right" rowspan="1" colspan="1">
      <img src="../../../assets/turfgrass_backdrop.png" />
    </mat-grid-tile>
  </mat-grid-list>
</div>
