#projects_container {
  padding: 1em;
  width: 100%;
  background: black;
}

app-project-card {
  width: 100%;
  /* height: 100%; */
}

.project_container {
  display: flex;
  width: 100%;
  /* height: 600px; */
  background: white;

  border-top: 5px solid var(--cg_gold);
  padding-top: 1em;
  padding-bottom: 1em;
  padding-right: 1em;
  /* border-bottom: 2px solid red; */
  margin-bottom: 1em;
}

.project_container:last-child {
  margin-bottom: 0;
}

.imageSliderContainer {
  height: 500px;
  min-width: 800px;
  position: relative;
  /* border: 2px solid blue; */
}

.seperator {
  margin-top: 4em;
  margin-bottom: 4em;
  height: 4px;
  background: black;
}
