#projects_container {
  width: 100%;
  height: auto;
  background: white;
}

app-project-card {
  width: 100%;
}

#search_container {
  height: 285px;
  width: 100%;
  background: black;
}

app-projects-search {
  width: 100%;
}

#search_message_container {
  background: var(--cg_silver);
  margin-top: -2.5%;
  padding: 0;
}

#found_projects_container {
  width: 100%;
  padding: 2%;
}

#found_projects_container :first-child {
  margin-top: 0;
}

.project_container {
  display: flex;
  width: 100%;
  /* height: 600px; */
  margin-top: 2em;
  margin-bottom: 2em;

  padding: 2%;
  border: 4px solid var(--cg_silver);
}

.project_container:last-child {
  margin-bottom: 0;
}

.imageSliderContainer {
  height: 500px;
  min-width: 800px;
  position: relative;
  /* border: 2px solid blue; */
}

.seperator {
  margin-top: 4em;
  margin-bottom: 4em;
  height: 4px;
  background: black;
}

#status_message {
  color: black;
  padding-left: 1em;
  font-family: Roboto;
  font-size: 1.5em;
}

#status_message span {
  text-decoration: underline;
}
