<div id="projects_container">
  <div *ngIf="!projects || projectsService.projectsAvailable === false">
    <app-section-header>Featured Projects</app-section-header>
    <app-featured-projects></app-featured-projects>
  </div>
  <div id="search_container">
    <app-projects-search
      (searchEvent)="fetchProjects($event)"
      (clearEvent)="clearForm($event)"
    ></app-projects-search>
  </div>

  <div id="search_message_container">
    <h1 class="status_message" *ngIf="currentSearchTerm">
      No project exists with the <i>{{ currentSearchBy }}</i
      >:
      <span>
        {{ currentSearchTerm }}
      </span>
    </h1>
    <h1 class="status_message found" *ngIf="projects">
      Found: ({{ projects.length }}) Projects
    </h1>
  </div>

  <div id="found_projects_container">
    <div
      class="project_container"
      [routerLink]="['/projects', project.id]"
      *ngFor="let project of projects"
      [style.flex-direction]="
        (layoutService.isMobile$ | async) ? 'column' : 'row'
      "
    >
      <app-project-card [project]="project"></app-project-card>
      <div class="imageSliderContainer">
        <app-image-slider
          [projectImages]="project.images"
          [showControls]="false"
        ></app-image-slider>
      </div>
    </div>
  </div>
</div>
