:host {
  width: 100%;
  height: 100%;
  background: white;
  padding: 4px;
}

.twitter-timeline {
  position: relative;
  /* background: none; */

}

.twitter-timeline img {
  display: block;
  margin: auto;
  margin-top: 30%;
}
