:host {
  width: 100%;
  height: 100%;
  background: white;
}

#twitter_timeline_container {
  width: 100%;
  height: 100%;
  background: white;
  /* border: 4px solid var(--cg_gold); */
}

.twitter-timeline {
  position: relative;
  /* background: none; */
}

.twitter-timeline img {
  display: block;
  margin: auto;
  margin-top: 50%;
}
