<div class="internal_gridlist">
  <div id="featured_gridlist">
    <div
      *ngFor="let link of links"
      class="{{ link.title }}_tile imageTile"
      [ngClass]="{ active: link.title === page }"
    >
      <a
        *ngIf="!link.docPath; else elseBlock"
        (click)="onProductSelected(link.title)"
      >
        <img src="{{ link.imagePath }}" alt="{{ link.title }}"
      /></a>
      <ng-template #elseBlock>
        <a class="link_container" download href="{{ link.docPath }}">
          <!-- <img src="{{ link.imagePath }}" alt="{{link.title}}" /> -->
          <h3 class="linkHeading">Download {{ link.title }}</h3>
          <mat-icon color="primary" class="linkIcon">{{
            link.imagePath
          }}</mat-icon>
        </a>
      </ng-template>
    </div>
  </div>
</div>
