.internal_gridlist {
  margin: 0;
  padding: 0;
}

.imageTile {
  width: 100%;
  height: 100%;
}

[class$="_tile"]:hover {
  filter: grayscale(0%);
}
[class$="_tile"] {
  filter: grayscale(100%);
  transition: filter 500ms ease;
  background: black;
  cursor: pointer;
  object-position: center;
  object-fit: contain;
}

.imageTile img {
  margin: auto 0 auto 0;
  width: 100%;
  height: 100%;
  object-position: top;
  object-fit: contain;
  /* object-fit: scale-down; */
}

.speed_tile:hover,
.speed_tile.active {
  border-bottom: 8px solid var(--cg_speed);
}
.power_tile:hover,
.power_tile.active {
  border-bottom: 8px solid var(--cg_power);
}
.agility_tile:hover,
.agility_tile.active {
  border-bottom: 8px solid var(--cg_agility);
}

#featured_gridlist {
  height: 100%;
  width: 100%;
  background: black;
  border-top: 4px solid var(--cg_gold);
  /* border-bottom: 4px solid var(--cg_gold); */
  display: flex;
}

.link_container {
  cursor: pointer;
  margin: 0;
  margin-left: 0.25em;
  margin-right: 0.25em;
  transition: color 300ms ease-in;
}
.link_container:hover {
  cursor: pointer;
}
.link_container:hover .linkHeading,
.link_container:hover .linkIcon {
  color: var(--cg_silver);
}

.linkHeading {
  color: var(--cg_gold);
  font-weight: 600;
  font-family: Roboto;
  text-transform: uppercase;
  font-size: 0.9em;
  margin: 0;
}

.linkIcon {
  font-size: 2em;
  width: 100%;
  height: 100%;
}
