<div id="search_container">
    <form id="search_form" #searchForm="ngForm">
        <mat-form-field id="search_field" appearance="fill" color="accent" >
            <input id="search_input" name="searchTerm" placeholder="find a project" matInput type="search" search ngModel (keyup)="fetchProjects(searchForm)" color="primary"/>
            <mat-icon *ngIf="searchForm.pristine || searchForm.value.searchTerm === ''; else clearBlock" id="search_icon" matSuffix (click)="fetchProjects(searchForm)" color="primary">search</mat-icon>
            <ng-template #clearBlock>
                <mat-icon id="clear_icon" matSuffix (click)="clearForm(searchForm)">clear</mat-icon>
            </ng-template>
        </mat-form-field>
            <mat-radio-group id="checkbox_container" name="sortBy" ngModel>
                <mat-radio-button class="radioButton" value="name" color="primary" name="sortBy" [(ngModel)]="sortBy" ngDefaultControl>name</mat-radio-button>
                <mat-radio-button class="radioButton" value="series" color="primary" name="sortBy" [(ngModel)]="sortBy" ngDefaultControl>series</mat-radio-button>
                <mat-radio-button class="radioButton" value="location" color="primary" name="sortBy" [(ngModel)]="sortBy" ngDefaultControl>location</mat-radio-button>
                <mat-radio-button class="radioButton" value="manager" color="primary" name="sortBy" [(ngModel)]="sortBy" ngDefaultControl>project manager</mat-radio-button>
            </mat-radio-group>
    </form>
</div>
