/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  /* background: black; */
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
  color: white;
}

a:visited {
  color: white;
}

:root {
  --cg_gold: #c6b460;
  --cg_silver: #c4c4c4;
  --cg_speed: #f57f20;
  --cg_power: #662d91;
  --cg_agility: #367654;
  --four_turf: #00A451;
  --lspace: 0.25em;
}

.internal_gridlist {
  min-width: 100%;
  padding: 6px;
  /* border: 2px solid yellow; */
  height: 100%;
}
