/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-x: hidden;
}

*::-webkit-scrollbar {
  display: none;
}

html {
  overflow-x: hidden;
}

body {
  width: 100vw;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: url("/assets/grass_backdrop.jpg");
  background-repeat: none;
}

a {
  color: white;
}

a:hover {
  cursor: pointer;
}

a:visited {
  color: white;
}

:root {
  --cg_gold: #c6b460;
  --cg_silver: #c4c4c4;
  --cg_speed: #f57f20;
  --cg_power: #662d91;
  --cg_agility: #367654;
  --four_turf: #00a451;
  --lspace: 0.25em;
}

/* Theme Related Styles */

.speed_c {
  color: var(--cg_speed);
}
.power_c {
  color: var(--cg_power);
}
.agility_c {
  color: var(--cg_agility);
}

.speed_bgc {
  background-color: var(--cg_speed);
}
.power_bgc {
  background-color: var(--cg_power);
}
.agility_bgc {
  background-color: var(--cg_agility);
}

.speed_border {
  border-bottom: 8px solid var(--cg_speed);
}
.power_border {
  border-bottom: 8px solid var(--cg_power);
}
.agility_border {
  border-bottom: 8px solid var(--cg_agility);
}

/* Global Classes */

.internal_gridlist {
  min-width: 100%;
  padding: 6px;
  height: 100%;
}

.bodyText {
  font-size: 0.9em;
}

.boxedText {
  background: var(--cg_gold);
  /* background: var(--cg_silver); */
  padding: 2%;
  color: white;
  /* color: black; */
}

.caption {
  font-size: 0.8em;
}

.upper {
  text-transform: uppercase;
}
.lspace {
  letter-spacing: var(--lspace);
}
