mat-grid-tile[id$="_formulation"] {
  filter: drop-shadow(0 20px 0.45rem rgba(0, 0, 0, 0.4));
  /* border-radius: 100%; */
}

.internal_gridlist {
  padding: 0;
  position: relative;
}

#formulation_percentage {
  color: white;
  font-size: 4em;
  font-family: Roboto Condensed;
  font-weight: 700;
  /* border: 2px solid var(--cg_silver); */
}

#formulation_blend {
  font-size: 1.25em;
  background: white;
  text-align: center;
  font-family: Roboto Condensed;
  font-weight: 700;
  line-height: 1.1em;
}

#four_turf_logo {
  width: 90%;
  height: 90%;
  object-fit: contain;
  object-position: center;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeInPrimary {
  animation: fadeIn;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-delay: 0.5s;
}

.fadeInSecondary {
  animation: fadeIn;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-delay: 1s;
}

.fadeInFourTurf {
  animation: fadeIn;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-delay: 1.5s;
}

.hide {
  opacity: 0;
}

.show {
  opacity: 1;
}

/* .primaryBackground {
  background: var(--cg_speed);
} */
.speedBackground {
  background: var(--cg_speed);
}
.powerBackground {
  background: var(--cg_power);
}
.agilityBackground {
  background: var(--cg_agility);
}
.secondaryBackground {
  background: var(--cg_silver);
}
.fourTurfBackground {
  background: var(--four_turf);
}
