<div class="container" #breakdownContainer>
  <div
    id="primary_formulation"
    [ngStyle]="{
      background: formulations.primary.percentage ? 'rgba(0,0,0,0.8)' : 'none'
    }"
  >
    <p class="formulation_description">
      {{ formulations.primary.description }}
    </p>
    <div class="internal_gridlist hide" #primaryFormulation>
      <div class="formulation_container">
        <h2>{{ formulations.primary.percentage }}<span>.0%</span></h2>
      </div>
      <div class="progress_container">
        <div
          id="percentage_in"
          [ngStyle]="{
            width: formulations.primary.percentage + '%',
            background: 'var(--cg_' + seriesName + ')'
          }"
        ></div>
        <div
          id="percentage_out"
          [ngStyle]="{
            width: 100 - formulations.primary.percentage + '%',
            background: 'rgba(255,255,255,0.05)'
          }"
        ></div>
      </div>
    </div>
  </div>
  <div
    id="secondary_formulation"
    [ngStyle]="{
      background: formulations.secondary.percentage
        ? 'rgba(0,0,0,0.8)'
        : 'none',
      display: formulations.secondary.percentage !== 0 ? 'block' : 'none'
    }"
  >
    <p class="formulation_description">
      {{ formulations.secondary.description }}
    </p>
    <div class="internal_gridlist hide" #secondaryFormulation>
      <div class="formulation_container">
        <h2>{{ formulations.secondary.percentage }}<span>.0%</span></h2>
      </div>
      <div class="progress_container">
        <div
          id="percentage_in"
          [ngStyle]="{
            width: formulations.secondary.percentage + '%',
            background: 'var(--cg_' + 'silver' + ')'
          }"
        ></div>
        <div
          id="percentage_out"
          [ngStyle]="{
            width: 100 - formulations.secondary.percentage + '%',
            background: 'rgba(255,255,255,0.05)'
          }"
        ></div>
      </div>
    </div>
  </div>
  <div
    id="four_turf_formulation"
    [ngStyle]="{
      background: formulations.fourTurf.percentage ? 'rgba(0,0,0,0.8)' : 'none',
      display: formulations.fourTurf.percentage !== 0 ? 'block' : 'none'
    }"
  >
    <p class="formulation_description">
      {{ formulations.fourTurf.description }}
    </p>
    <div class="internal_gridlist hide" #fourTurfFormulation>
      <div id="fourturf_formulation_container" class="formulation_container">
        <h2>{{ formulations.fourTurf.percentage }}<span>.0%</span></h2>
      </div>
      <div class="progress_container">
        <div
          id="percentage_in"
          [ngStyle]="{
            width: formulations.fourTurf.percentage + '%',
            background: 'var(--four_turf)'
          }"
        ></div>
        <div
          id="percentage_out"
          [ngStyle]="{
            width: 100 - formulations.fourTurf.percentage + '%',
            background: 'rgba(255,255,255,0.05)'
          }"
        ></div>
      </div>
    </div>
  </div>
</div>
