.products_menu {
  /* border-bottom: 5px solid var(--cg_gold); */
  /* border-top: 5px solid white; */
  /* border-top: 5px solid black; */
  margin-top: 17px;
  border-radius: 0 !important;
}

.mat-menu-item {
  font-family: Orbitron;
  font-weight: 600;
  font-size: 0.8em;
  letter-spacing: 1px;
  text-align: center !important;
  text-transform: uppercase;
  color: white;
}

.mat-menu-item.s:hover {
  border-bottom: 4px solid var(--cg_speed);
}
.mat-menu-item.p:hover {
  border-bottom: 4px solid var(--cg_power);
}
.mat-menu-item.a:hover {
  border-bottom: 4px solid var(--cg_agility);
}

.mat-focus-indicator.speed:focus,
.mat-focus-indicator.speed:hover {
  border-bottom: 4px solid var(--cg_speed) !important;
}
.mat-focus-indicator.power:focus,
.mat-focus-indicator.power:hover {
  border-bottom: 4px solid var(--cg_power) !important;
}
.mat-focus-indicator.agility:focus,
.mat-focus-indicator.agility:hover {
  border-bottom: 4px solid var(--cg_agility) !important;
}

.mat-menu-panel {
  /* background: var(--cg_silver); */
  background: white;
  background: black;
}

a {
  /* border: 2px solid red; */
  position: relative;
  flex-grow: 1;
  margin: 0 0.5em 0 0.5em;
  flex-basis: auto;
  text-align: center;
  letter-spacing: 0.15em;
  cursor: pointer;
  text-decoration: none;
}
/* .active:before {
    display: none;
  } */

.speed {
  color: var(--cg_speed);
  border-bottom: 4px solid var(--cg_speed) !important;
  /* color: white; */
}
.power {
  color: var(--cg_power);
  border-bottom: 4px solid var(--cg_power) !important;
  /* color: white; */
}
.agility {
  color: var(--cg_agility);
  border-bottom: 4px solid var(--cg_agility) !important;
  /* color: white; */
}

a:hover:before {
  opacity: 1;
}
a.active:before {
  opacity: 0;
}
a:hover {
  color: var(--cg_gold);
}
