.products_menu {
  border-bottom: 5px solid var(--cg_gold);
  border-top: 5px solid white;
  /* border-top: 5px solid black; */
  color: red;
  margin-top: 22px;
}

.mat-menu-item {
  font-family: Orbitron;
  font-weight: bold;
  font-size: 0.7em;

  text-transform: uppercase;
}

.mat-focus-indicator.speed:focus,
.mat-focus-indicator.speed:hover {
  background: var(--cg_speed) !important;
}
.mat-focus-indicator.power:focus,
.mat-focus-indicator.power:hover {
  background: var(--cg_power) !important;
}
.mat-focus-indicator.agility:focus,
.mat-focus-indicator.agility:hover {
  background: var(--cg_agility) !important;
}

.mat-menu-panel {
  /* background: var(--cg_silver); */
  background: white;
  background: black;
}

a {
  /* border: 2px solid red; */
  position: relative;
  flex-grow: 1;
  margin: 0 0.5em 0 0.5em;
  flex-basis: auto;
  text-align: center;
  letter-spacing: 0.15em;
  cursor: pointer;
  text-decoration: none;
}

.active {
  color: var(--cg_gold);
}
/* .active:before {
    display: none;
  } */

.speed {
  color: var(--cg_speed);
  color: white;
}
.power {
  color: var(--cg_power);
  color: white;
}
.agility {
  color: var(--cg_agility);
  color: white;
}

a:hover:before {
  opacity: 1;
}
a.active:before {
  opacity: 0;
}
a:hover {
  color: var(--cg_gold);
}
