<app-section-header>{{ title }}</app-section-header>
<div id="form_container">
  <img id="distributor_logo" *ngIf="logo" src="{{ logo }}" alt="distributor" />

  <p id="sub_heading" *ngIf="subHeading">{{ subHeading }}</p>

  <form #form="ngForm" (submit)="submitForm(form)">
    <mat-form-field appearance="{{ fieldApperance }}" color="primary">
      <mat-label>Name</mat-label>
      <input matInput type="text" name="name" ngModel />
    </mat-form-field>

    <mat-form-field appearance="{{ fieldApperance }}">
      <mat-label>Email</mat-label>
      <input
        matInput
        placeholder="potential@distributor.com"
        name="email"
        type="email"
        ngModel
        email="true"
        required
      />
      <mat-error *ngIf="form.invalid">{{
        formService.getErrorMessage("email")
      }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="{{ fieldApperance }}" color="primary">
      <mat-label>Address</mat-label>
      <input
        matInput
        type="text"
        name="address"
        ngModel
        placeholder="Any location information provided will help our agents assist you better"
      />
    </mat-form-field>

    <mat-form-field appearance="{{ fieldApperance }}">
      <mat-label>Message</mat-label>
      <textarea
        matInput
        cols="30"
        rows="5"
        required
        ngModel
        name="message"
        placeholder="Ex. What are you looking for? What would you like help with?"
      ></textarea>
      <mat-error *ngIf="form.invalid">{{
        formService.getErrorMessage()
      }}</mat-error>
    </mat-form-field>
    <input type="text" name="_gotcha" style="display:none" />
    <div id="submission_error_container" *ngIf="formService.submissionError">
      <mat-icon color="warn">error</mat-icon
      ><span id="submission_error_message">{{
        formService.getErrorMessage("submission")
      }}</span>
    </div>
    <br />
    <button
      [disabled]="form.invalid"
      type="submit"
      mat-raised-button
      color="primary"
    >
      Submit
    </button>
  </form>
</div>
