#navigation {
  height: 10vh;
  background-color: black;
  border-bottom: 2px solid var(--cg_gold);
  color: white;
  display: flex;
  align-items: center;
  padding: 0 1em 0 1em;
  /* border: 2px solid yellow; */
}

#mobile_logo {
  width: 50%;
  align-self: center;
  justify-self: flex-end;
  cursor: pointer;
  margin-left: auto;
}

#menu_button {
  font-size: 3em;
}

.mobileNavMenu {
  color: white;
  width: 100%;
}

.mat-menu-item {
  color: white;
  font-family: Orbitron;
  font-size: 1em;
  font-weight: 600;
  text-transform: uppercase;
  transition: color 300ms ease-in;
  padding: 1em;
}

.mat-menu-item[disabled],
.mat-menu-item[disabled]::after {
  color: var(--cg_silver);
}

.navOption:hover {
  color: var(--cg_gold);
}

#products_label {
  /* border: 2px solid red; */
  margin-bottom: 0px;
  padding: 0 2em 0 2em;
}

.mobileNavMenu li {
  text-decoration: none;
  list-style-type: none;

  /* border: 3px solid green; */
}

.mobileNavMenu ul {
  margin: 0;
  padding: 0 1em 0 1em;
}

.mat-menu-panel {
  /* background: var(--cg_silver); */
  background: white;
  background: black;
  background: rgba(0, 0, 0, 0.9);
  padding: 2em 0 2em 0;
  border-bottom: 2px solid var(--cg_gold);
}

button.mat-menu-item {
  color: white;
  padding: 0 2em 0 2em;
}

.mat-menu-item .mat-icon-no-color,
.mat-menu-item-submenu-trigger::after {
  color: white;
}

.secondary_menu_container {
  justify-self: flex-end;
  margin-left: auto;
}

#distributor_login_button {
  margin-left: 2em;
}

#distributor_info_button:hover,
#distributor_login_button:hover {
  opacity: 0.5;
}

.mat-menu-item.speed {
  color: var(--cg_speed);
  border-bottom: 4px solid var(--cg_speed);
}
.mat-menu-item.power {
  color: var(--cg_power);
  border-bottom: 4px solid var(--cg_power);
}
.mat-menu-item.agility {
  color: var(--cg_agility);
  border-bottom: 4px solid var(--cg_agility);
}
.mat-menu-item.active {
  color: var(--cg_gold);
}

.mat-menu-item.s:hover {
  border-bottom: 4px solid var(--cg_speed);
}
.mat-menu-item.p:hover {
  border-bottom: 4px solid var(--cg_power);
}
.mat-menu-item.a:hover {
  border-bottom: 4px solid var(--cg_agility);
}

.mat-focus-indicator.speed:focus,
.mat-focus-indicator.speed:hover {
  border-bottom: 4px solid var(--cg_speed) !important;
}
.mat-focus-indicator.power:focus,
.mat-focus-indicator.power:hover {
  border-bottom: 4px solid var(--cg_power) !important;
}
.mat-focus-indicator.agility:focus,
.mat-focus-indicator.agility:hover {
  border-bottom: 4px solid var(--cg_agility) !important;
}
