
#image_container {
  height: 250px;
  /* border: 2px solid red; */
  /* background-position: 0 -825px; */
  background-repeat: no-repeat;
}

#image {
height: 100%;
  /* width: calc(33% + 6px); */
  width: 100%;
  object-fit: scale-down;
  object-position: center;
  /* border: 2px solid blue; */
  margin-left: auto;
  margin-right: auto;
}
